In [173]:
# Import libaries
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import HTML
from typing import List

In [174]:
# Import the data
df_circumstances = pd.read_csv('data/general_circumstances.csv', sep=';')
df_locations = pd.read_csv('data/locations-2023.csv', sep=';')
df_users = pd.read_csv('data/users-2023.csv', sep=';')
df_vehicles = pd.read_csv('data/vehicles-2023.csv', sep=';')

C:\Users\David\AppData\Local\Temp\ipykernel_15832\3031322425.py:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_locations = pd.read_csv('data/locations-2023.csv', sep=';')

In [175]:
# Rename the columns into easier to understand english names
circumstances_column_names = {
    'Num_Acc': 'id_accident',
    'jour': 'day',
    'mois': 'month',
    'an': 'year',
    'hrmn': 'hour_minute',
    'lum': 'lighting_condition',
    'dep': 'department_code',
    'com': 'commune_code',
    'agg': 'location',
    'int': 'intersection',
    'atm': 'weather_condition',
    'col': 'type_of_collision',
    'adr': 'postal_address',
    'lat': 'latitude',
    'long': 'longitude'
}

location_column_names = {
    'Num_Acc': 'id_accident',
    'catr': 'road_category',
    'voie': 'road_number',
    'v1': 'road_number_index',
    'v2': 'road_number_letter',
    'circ': 'traffic_regime',
    'nbv': 'number_of_traffic_lanes',
    'vosp': 'reserved_lane_present',
    'prof': 'longitudinal_profile',
    'pr': 'nearest_reference_marker',
    'pr1': 'nearest_reference_marker_distance',
    'plan': 'horizontal_alignment',
    'lartpc': 'width_central_reservation',
    'larrout': 'carriageway_width',
    'surf': 'pavement_condition',
    'infra': 'infrastructure',
    'situ': 'accident_situation',
    'vma': 'speed_limit'
}

vehicles_column_names = {
    'Num_Acc': 'id_accident',
    'id_vehicule': 'id_vehicle',
    'num_veh': 'number_vehicle',
    'senc': 'direction_of_travel',
    'catv': 'vehicle_category',
    'obs': 'fixed_obstacle_struck',
    'obsm': 'mobile_obstacle_struck',
    'choc': 'initial_point_of_impact',
    'manv': 'main_maneuver_before_accident',
    'motor': 'motor_type',
    'occutc': 'number_occupants_in_public_transport'
}

users_column_names = {
    'Num_Acc': 'id_accident',
    'id_usager': 'id_user',
    'id_vehicule': 'id_vehicle',
    'num_veh': 'number_vehicle',
    'place': 'position',
    'catu': 'user_category',
    'grav': 'injury_severity', # This is the feature we want to predict.
    'sexe': 'sex',
    'an_nais': 'year_of_birth',
    'trajet': 'trip_purpose',
    'secu1': 'safety_equipment_1',
    'secu2': 'safety_equipment_2',
    'secu3': 'safety_equipment_3',
    'locp': 'pedestrian_location',
    'actp': 'pedestrian_action',
    'etatp': 'injured_pedestrian_alone'
}

In [176]:
df_circumstances.rename(columns=circumstances_column_names, inplace=True)
df_locations.rename(columns=location_column_names, inplace=True)
df_vehicles.rename(columns=vehicles_column_names, inplace=True)
df_users.rename(columns=users_column_names, inplace=True)

In [177]:
# Show first 5 elements in dataframes and their columns
df_dict = {
    'circumstances': df_circumstances,
    'locations': df_locations,
    'users': df_users,
    'vehicles': df_vehicles
}
for df in df_dict.values():
    display(df.head())

,id_accident,day,month,year,hour_minute,lighting_condition,department_code,commune_code,location,intersection,weather_condition,type_of_collision,postal_address,latitude,longitude
0,202300000001,7,5,2023,06:00,1,75,75101,2,4,2,7,RUE DE RIVOLI,"48,86638600","2,32347100"
1,202300000002,7,5,2023,05:30,5,94,94080,2,1,3,6,Avenue de Paris,"48,84547782","2,42868146"
2,202300000003,7,5,2023,20:50,1,94,94022,2,3,2,1,Avenue du Général Leclerc,"48,76240000","2,40655000"
3,202300000004,6,5,2023,23:57,5,94,94078,2,1,3,5,Rue de Paris,"48,73248432","2,44687575"
4,202300000005,7,5,2023,00:50,5,94,94068,2,2,3,3,56bis Avenue Raspail,"48,78581000","2,49217000"

,id_accident,road_category,road_number,road_number_index,road_number_letter,traffic_regime,number_of_traffic_lanes,reserved_lane_present,longitudinal_profile,nearest_reference_marker,nearest_reference_marker_distance,horizontal_alignment,width_central_reservation,carriageway_width,pavement_condition,infrastructure,accident_situation,speed_limit
0,202300000001,4,RUE DE RIVOLI,0,NaN,1,2,0,1,-1,-1,1,NaN,-1,2,0,1,30
1,202300000001,4,RUE SAINT FLORENTIN,0,NaN,1,1,0,1,-1,-1,1,NaN,-1,2,0,1,30
2,202300000002,3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1,2,0,1,50
3,202300000003,3,5,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50
4,202300000003,3,87,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50

,id_accident,id_user,id_vehicle,number_vehicle,position,user_category,injury_severity,sex,year_of_birth,trip_purpose,safety_equipment_1,safety_equipment_2,safety_equipment_3,pedestrian_location,pedestrian_action,injured_pedestrian_alone
0,202300000001,203 851 184,155 680 557,A01,1,1,4,1,1978.0,5,2,0,-1,-1,-1,-1
1,202300000002,203 851 182,155 680 556,A01,1,1,1,2,1997.0,9,1,0,-1,-1,-1,-1
2,202300000002,203 851 183,155 680 556,A01,10,3,3,1,1997.0,9,0,-1,-1,2,3,1
3,202300000003,203 851 180,155 680 554,B01,1,1,3,1,1987.0,0,2,6,0,0,0,-1
4,202300000003,203 851 181,155 680 555,A01,1,1,1,2,1984.0,0,1,0,0,0,0,-1

,id_accident,id_vehicle,number_vehicle,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport
0,202300000001,155 680 557,A01,1,30,0,0,5,1,1,NaN
1,202300000002,155 680 556,A01,2,7,0,1,1,1,1,NaN
2,202300000003,155 680 554,B01,1,2,0,2,1,16,1,NaN
3,202300000003,155 680 555,A01,2,7,0,2,2,15,1,NaN
4,202300000004,155 680 551,B01,1,7,0,2,9,2,4,NaN

In [178]:
df_users_copy = df_users.copy()

# To understand better what's going on: Explicitly encode the roles for now.
role_map = {1: 'driver', 2: 'passenger', 3:'pedestrian'}
df_users_copy['role'] = df_users_copy['user_category'].map(role_map).fillna('other')
df_users_copy['is_pedestrian'] = (df_users_copy['role'] == 'pedestrian')

# Create a feature for the age of a user
df_users_copy = df_users_copy.merge(df_circumstances[['id_accident', 'year']], on='id_accident', how='left')
df_users_copy['age'] = (df_users_copy['year'] - df_users_copy['year_of_birth']).astype('Int64') # Can be null !!!


# df_users_copy['has_associated_vehicle'] = df_users_copy['id_vehicle'].notna()


# Encode vehicle attributes for drivers and passengers who drive within them and passengers who are hit by them in different features to avoid classifiers becomming confused from the perspective shift.



# vehicle_categories = ['direction_of_travel', 'vehicle_category', 'fixed_obstacle_struck', 'mobile_obstacle_struck', 'initial_point_of_impact', 'main_maneuver_before_accident', 'motor_type']

# for c in vehicle_categories:
#     occupant_column = f"{c}_occ"
#     pedestrian_column = f"{c}_ped"
#     # keep codes as strings; include explicit sentinels to preserve meaning & missingness
#     df_users_copy[occupant_column] = np.where(~df_users_copy["is_pedestrian"], df_users_copy[c].astype("Int64").astype("string"), "NA_occ")
#     df_users_copy[pedestrian_column] = np.where(["is_ped"], df_users_copy[c].astype("Int64").astype("string"), "NA_ped")

# df_users_copy["number_occupants_in_public_transport_occ"] = pd.Series(np.where(
#     ~df_users_copy["is_pedestrian"], df_users_copy["number_occupants_in_public_transport"], None
# )).astype('Int64')

# # Drop the raw ambiguous vehicle columns now that role-aware copies exist
# drop_ambiguous = [c for c in vehicle_categories if c not in ["id_accident","id_vehicle"]]
# df_users_copy = df_users_copy.drop(columns=[c for c in drop_ambiguous if c in df_users_copy.columns])

df_users_copy

,id_accident,id_user,id_vehicle,number_vehicle,position,user_category,injury_severity,sex,year_of_birth,trip_purpose,safety_equipment_1,safety_equipment_2,safety_equipment_3,pedestrian_location,pedestrian_action,injured_pedestrian_alone,role,is_pedestrian,year,age
0,202300000001,203 851 184,155 680 557,A01,1,1,4,1,1978.0,5,2,0,-1,-1,-1,-1,driver,False,2023,45
1,202300000002,203 851 182,155 680 556,A01,1,1,1,2,1997.0,9,1,0,-1,-1,-1,-1,driver,False,2023,26
2,202300000002,203 851 183,155 680 556,A01,10,3,3,1,1997.0,9,0,-1,-1,2,3,1,pedestrian,True,2023,26
3,202300000003,203 851 180,155 680 554,B01,1,1,3,1,1987.0,0,2,6,0,0,0,-1,driver,False,2023,36
4,202300000003,203 851 181,155 680 555,A01,1,1,1,2,1984.0,0,1,0,0,0,0,-1,driver,False,2023,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,203 720 720,155 583 346,A01,1,1,4,1,1971.0,1,2,0,-1,0,0,-1,driver,False,2023,52
125785,202300054821,203 720 721,155 583 347,B01,1,1,1,2,1968.0,1,1,0,-1,0,0,-1,driver,False,2023,55
125786,202300054822,203 720 717,155 583 344,A01,2,2,1,2,2003.0,2,1,-1,-1,-1,-1,-1,passenger,False,2023,20
125787,202300054822,203 720 718,155 583 344,A01,1,1,1,2,2002.0,1,1,-1,-1,-1,-1,-1,driver,False,2023,21
125788,202300054822,203 720 719,155 583 345,B01,1,1,3,2,1995.0,1,2,-1,-1,-1,-1,-1,driver,False,2023,28

In [179]:
# Join the user's associated vehicle (drivers=ridden/driven; pedestrians=striken by the vehicle)
df_vehicles_copy = df_vehicles.copy()

def simplify_catv_6(x):
    if pd.isna(x):                 return pd.NA
    if x in {1,80}:                return "bicycle"
    if x in {2,30,41,31,32,33,34,42,43}:  return "powered_2_3_wheeler"
    if x in {7,10}:                return "light_motor_vehicle"        # car + van
    if x in {13,14,15,16,17}:      return "hgv_truck"
    if x in {37,38}:               return "bus_coach"
    # everything else: rail, quads/microcars, agri/special, PMDs, 99/00…
    return "other"

df_vehicles_copy["vehicle_category"] = df_vehicles_copy['vehicle_category'].map(simplify_catv_6)

In [180]:
df_vehicles_copy

# Every user should have a vehicle associated with them somehow 
df_users_copy = df_users_copy.merge(df_vehicles_copy, on=['id_accident', 'id_vehicle'], how='left')
df_users_copy

,id_accident,id_user,id_vehicle,number_vehicle_x,position,user_category,injury_severity,sex,year_of_birth,trip_purpose,...,age,number_vehicle_y,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport
0,202300000001,203 851 184,155 680 557,A01,1,1,4,1,1978.0,5,...,45,A01,1,powered_2_3_wheeler,0,0,5,1,1,NaN
1,202300000002,203 851 182,155 680 556,A01,1,1,1,2,1997.0,9,...,26,A01,2,light_motor_vehicle,0,1,1,1,1,NaN
2,202300000002,203 851 183,155 680 556,A01,10,3,3,1,1997.0,9,...,26,A01,2,light_motor_vehicle,0,1,1,1,1,NaN
3,202300000003,203 851 180,155 680 554,B01,1,1,3,1,1987.0,0,...,36,B01,1,powered_2_3_wheeler,0,2,1,16,1,NaN
4,202300000003,203 851 181,155 680 555,A01,1,1,1,2,1984.0,0,...,39,A01,2,light_motor_vehicle,0,2,2,15,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,203 720 720,155 583 346,A01,1,1,4,1,1971.0,1,...,52,A01,1,powered_2_3_wheeler,0,2,3,9,1,NaN
125785,202300054821,203 720 721,155 583 347,B01,1,1,1,2,1968.0,1,...,55,B01,1,light_motor_vehicle,0,2,2,9,1,NaN
125786,202300054822,203 720 717,155 583 344,A01,2,2,1,2,2003.0,2,...,20,A01,2,light_motor_vehicle,0,2,7,22,1,NaN
125787,202300054822,203 720 718,155 583 344,A01,1,1,1,2,2002.0,1,...,21,A01,2,light_motor_vehicle,0,2,7,22,1,NaN
125788,202300054822,203 720 719,155 583 345,B01,1,1,3,2,1995.0,1,...,28,B01,2,other,14,2,1,1,3,NaN

In [ ]:
g = df_vehicles_copy[['id_accident', 'vehicle_category']].copy()
tmp = pd.get_dummies(g, columns=['vehicle_category'], prefix='vehicle_category')
tmp = tmp.groupby('id_accident').sum()

df_users_copy = df_users_copy.merge(tmp, on='id_accident', how='left')
df_users_copy

,id_accident,id_user,id_vehicle,number_vehicle_x,position,user_category,injury_severity,sex,year_of_birth,trip_purpose,...,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport,vehicle_category_bicycle,vehicle_category_bus_coach,vehicle_category_hgv_truck,vehicle_category_light_motor_vehicle,vehicle_category_other,vehicle_category_powered_2_3_wheeler
0,202300000001,203 851 184,155 680 557,A01,1,1,4,1,1978.0,5,...,5,1,1,NaN,0,0,0,0,0,1
1,202300000002,203 851 182,155 680 556,A01,1,1,1,2,1997.0,9,...,1,1,1,NaN,0,0,0,1,0,0
2,202300000002,203 851 183,155 680 556,A01,10,3,3,1,1997.0,9,...,1,1,1,NaN,0,0,0,1,0,0
3,202300000003,203 851 180,155 680 554,B01,1,1,3,1,1987.0,0,...,1,16,1,NaN,0,0,0,1,0,1
4,202300000003,203 851 181,155 680 555,A01,1,1,1,2,1984.0,0,...,2,15,1,NaN,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,203 720 720,155 583 346,A01,1,1,4,1,1971.0,1,...,3,9,1,NaN,0,0,0,1,0,1
125785,202300054821,203 720 721,155 583 347,B01,1,1,1,2,1968.0,1,...,2,9,1,NaN,0,0,0,1,0,1
125786,202300054822,203 720 717,155 583 344,A01,2,2,1,2,2003.0,2,...,7,22,1,NaN,0,0,0,1,1,0
125787,202300054822,203 720 718,155 583 344,A01,1,1,1,2,2002.0,1,...,7,22,1,NaN,0,0,0,1,1,0
125788,202300054822,203 720 719,155 583 345,B01,1,1,3,2,1995.0,1,...,1,1,3,NaN,0,0,0,1,1,0

In [ ]:
df_locations.groupby('id_accident')

{202300000001: [0, 1], 202300000002: [2], 202300000003: [3, 4], 202300000004: [5], 202300000005: [6, 7], 202300000006: [8], 202300000007: [9], 202300000008: [10, 11], 202300000009: [12, 13], 202300000010: [14], 202300000011: [15], 202300000012: [16, 17], 202300000013: [18], 202300000014: [19], 202300000015: [20], 202300000016: [21, 22], 202300000017: [23], 202300000018: [24, 25], 202300000019: [26], 202300000020: [27], 202300000021: [28], 202300000022: [29], 202300000023: [30], 202300000024: [31], 202300000025: [32], 202300000026: [33], 202300000027: [34], 202300000028: [35], 202300000029: [36], 202300000030: [37], 202300000031: [38], 202300000032: [39], 202300000033: [40], 202300000034: [41], 202300000035: [42], 202300000036: [43], 202300000037: [44], 202300000038: [45], 202300000039: [46], 202300000040: [47], 202300000041: [48, 49], 202300000042: [50], 202300000043: [51, 52], 202300000044: [53, 54], 202300000045: [55], 202300000046: [56], 202300000047: [57], 202300000048: [58], 202300000049: [59], 202300000050: [60], 202300000051: [61], 202300000052: [62], 202300000053: [63], 202300000054: [64], 202300000055: [65], 202300000056: [66], 202300000057: [67], 202300000058: [68], 202300000059: [69], 202300000060: [70], 202300000061: [71], 202300000062: [72, 73], 202300000063: [74], 202300000064: [75], 202300000065: [76], 202300000066: [77, 78], 202300000067: [79], 202300000068: [80], 202300000069: [81], 202300000070: [82], 202300000071: [83], 202300000072: [84], 202300000073: [85], 202300000074: [86], 202300000075: [87], 202300000076: [88, 89], 202300000077: [90], 202300000078: [91, 92], 202300000079: [93], 202300000080: [94], 202300000081: [95], 202300000082: [96], 202300000083: [97], 202300000084: [98, 99], 202300000085: [100], 202300000086: [101], 202300000087: [102], 202300000088: [103, 104], 202300000089: [105], 202300000090: [106], 202300000091: [107], 202300000092: [108], 202300000093: [109], 202300000094: [110], 202300000095: [111], 202300000096: [112, 113], 202300000097: [114], 202300000098: [115, 116], 202300000099: [117], 202300000100: [118], ...}

In [256]:
# AI Generated and manually checked (yes, really)
# Columns we care about for completeness scoring
LOC_SCORE_COLS = [
    "road_category","road_number","road_number_index","road_number_letter",
    "traffic_regime","number_of_traffic_lanes","reserved_lane_present",
    "longitudinal_profile","nearest_reference_marker","nearest_reference_marker_distance",
    "horizontal_alignment","width_central_reservation","carriageway_width",
    "pavement_condition","infrastructure","accident_situation","speed_limit"
]

# Optional weights: make "road_category" and "speed_limit" slightly more decisive
LOC_WEIGHTS = {
    "road_category": 2.0,
    "speed_limit": 2.0,
    # everything else defaults to 1.0
}

def _completeness_score(df: pd.DataFrame) -> pd.Series:
    present = ((df[LOC_SCORE_COLS].notna()) & (df[LOC_SCORE_COLS] != -1))
    for c, w in LOC_WEIGHTS.items():
        if c in present.columns:
            present[c] = present[c] * w
    return present.sum(axis=1)

def _major_road_rank(series: pd.Series) -> pd.Series:
    """
    Prefer major roads at intersections.
    BAAC catr: 1=Motorway, 2=National, 3=Departmental, 4=Communal, 5/6/7/9=others. 
    Lower is 'more major', so sort by this ascending; unknown gets worst rank.
    """
    s = pd.to_numeric(series, errors="coerce")
    return s.fillna(99)

def select_best_location_rows(location: pd.DataFrame) -> pd.DataFrame:
    L = location.copy()
    #
    # 
    # P = postal_address.copy()
    #L.merge(P, left_on=['id_accident', 'road_number'], right_on=['accident_id', 'postal_address'], how='left')['postal_address'].notna()

    # score completeness
    L["__score"] = _completeness_score(L)
    # tie-breakers:
    # 1) higher completeness score
    # 2) has speed_limit
    # 3) has PR/PR1 (reference marker)
    # 4) more major road_category (1 < 2 < 3 < 4 < 5/6/7/9)
    # 5) lower index as final deterministic tie-break
    L["__has_vma"] = L["speed_limit"].notna().astype(int)
    L["__has_pr"]  = L["nearest_reference_marker"].notna().astype(int) | L["nearest_reference_marker_distance"].notna().astype(int)
    L["__road_rank"] = -_major_road_rank(L["road_category"])  # negative so higher is better in sort

    L = (L
         .sort_values(["id_accident","__score","__has_vma","__has_pr","__road_rank"])
         .drop_duplicates("id_accident", keep="last")  # keep the best per accident
         .drop(columns=["__score","__has_vma","__has_pr","__road_rank"])
        )
    return L

# Example usage:
# location_best = select_best_location_rows(location)
# ACC = circumstances.merge(location_best, on="id_accident", how="left")

In [258]:
selected_locations = select_best_location_rows(df_locations)
selected_locations

,id_accident,road_category,road_number,road_number_index,road_number_letter,traffic_regime,number_of_traffic_lanes,reserved_lane_present,longitudinal_profile,nearest_reference_marker,nearest_reference_marker_distance,horizontal_alignment,width_central_reservation,carriageway_width,pavement_condition,infrastructure,accident_situation,speed_limit
1,202300000001,4,RUE SAINT FLORENTIN,0,NaN,1,1,0,1,-1,-1,1,NaN,-1,2,0,1,30
2,202300000002,3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1,2,0,1,50
4,202300000003,3,87,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50
5,202300000004,2,6,0,NaN,2,4,0,1,18,1,1,NaN,12,2,0,1,50
7,202300000005,4,NaN,0,NaN,2,2,0,1,-1,-1,1,NaN,-1,2,0,1,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70855,202300054818,4,LA FONTAINE (RUE JEAN DE),0,NaN,2,2,0,1,-1,0,1,NaN,-1,1,0,1,50
70856,202300054819,4,RN3 (ANCIENNE ROUTE),0,NaN,2,2,0,2,0,0,1,NaN,-1,1,0,1,50
70857,202300054820,4,BAMBOU (CHEMIN DE LA RUELLE),0,NaN,2,2,0,2,0,0,2,NaN,-1,1,0,8,30
70858,202300054821,2,ROUTE NATIONALE 1,0,NaN,-1,2,1,1,4,50,1,NaN,-1,1,0,1,90
70859,202300054822,4,YVES FARGES (BD),0,NaN,2,2,2,1,-1,-1,1,NaN,-1,1,0,5,30

In [ ]:
df_circumstances_copy = df_circumstances.copy()
df_circumstances_copy = df_circumstances_copy.merge(selected_locations, on='id_accident', how='left')
df_circumstances_copy = df_circumstances_copy.merge(df_users_copy, on='id_accident', how='left')

df_circumstances_copy.to_excel('data/test3.xlsx')



#df_circumstances.merge(df_locations, left_on=['id_accident', 'postal_address'], right_on=['id_accident', 'road_number'], how='inner')[['id_accident', 'postal_address', 'road_number']]