In [36]:
# Import libaries
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import HTML
from typing import List

In [37]:
pd.set_option('display.max_columns', None)

In [38]:
# Import the data
df_circumstances = pd.read_csv('data/original/characteristics-2023.csv', sep=';', decimal=',')
df_locations = pd.read_csv('data/original/locations-2023.csv', sep=';', decimal=',')
df_users = pd.read_csv('data/original/users-2023.csv', sep=';', decimal=',')
df_vehicles = pd.read_csv('data/original/vehicles-2023.csv', sep=';', decimal=',')

In [39]:
# Rename the columns into easier to understand english names
circumstances_column_names = {
    'Num_Acc': 'id_accident',
    'jour': 'day',
    'mois': 'month',
    'an': 'year',
    'hrmn': 'hour_minute',
    'lum': 'lighting_condition',
    'dep': 'department_code',
    'com': 'commune_code',
    'agg': 'location',
    'int': 'intersection',
    'atm': 'weather_condition',
    'col': 'type_of_collision',
    'adr': 'postal_address',
    'lat': 'latitude',
    'long': 'longitude'
}

location_column_names = {
    'Num_Acc': 'id_accident',
    'catr': 'road_category',
    'voie': 'road_number',
    'v1': 'road_number_index',
    'v2': 'road_number_letter',
    'circ': 'traffic_regime',
    'nbv': 'number_of_traffic_lanes',
    'vosp': 'reserved_lane_present',
    'prof': 'longitudinal_profile',
    'pr': 'nearest_reference_marker',
    'pr1': 'nearest_reference_marker_distance',
    'plan': 'horizontal_alignment',
    'lartpc': 'width_central_reservation',
    'larrout': 'carriageway_width',
    'surf': 'pavement_condition',
    'infra': 'infrastructure',
    'situ': 'accident_situation',
    'vma': 'speed_limit'
}

vehicles_column_names = {
    'Num_Acc': 'id_accident',
    'id_vehicule': 'id_vehicle',
    'num_veh': 'number_vehicle',
    'senc': 'direction_of_travel',
    'catv': 'vehicle_category',
    'obs': 'fixed_obstacle_struck',
    'obsm': 'mobile_obstacle_struck',
    'choc': 'initial_point_of_impact',
    'manv': 'main_maneuver_before_accident',
    'motor': 'motor_type',
    'occutc': 'number_occupants_in_public_transport'
}

users_column_names = {
    'Num_Acc': 'id_accident',
    'id_usager': 'id_user',
    'id_vehicule': 'id_vehicle',
    'num_veh': 'number_vehicle',
    'place': 'position',
    'catu': 'user_category',
    'grav': 'injury_severity', # This is the feature we want to predict.
    'sexe': 'sex',
    'an_nais': 'year_of_birth',
    'trajet': 'trip_purpose',
    'secu1': 'safety_equipment_1',
    'secu2': 'safety_equipment_2',
    'secu3': 'safety_equipment_3',
    'locp': 'pedestrian_location',
    'actp': 'pedestrian_action',
    'etatp': 'injured_pedestrian_alone'
}

In [40]:
df_circumstances.rename(columns=circumstances_column_names, inplace=True)
df_locations.rename(columns=location_column_names, inplace=True)
df_vehicles.rename(columns=vehicles_column_names, inplace=True)
df_users.rename(columns=users_column_names, inplace=True)

In [41]:
# Show first 5 elements in dataframes and their columns
df_dict = {
    'circumstances': df_circumstances,
    'locations': df_locations,
    'users': df_users,
    'vehicles': df_vehicles
}
for name, df in df_dict.items():
    print("\n" + name + "\n")
    display(df.head())

circumstances

,id_accident,day,month,year,hour_minute,lighting_condition,department_code,commune_code,location,intersection,weather_condition,type_of_collision,postal_address,latitude,longitude
0,202300000001,7,5,2023,06:00,1,75,75101,2,4,2,7,RUE DE RIVOLI,48.866386,2.323471
1,202300000002,7,5,2023,05:30,5,94,94080,2,1,3,6,Avenue de Paris,48.845478,2.428681
2,202300000003,7,5,2023,20:50,1,94,94022,2,3,2,1,Avenue du Général Leclerc,48.762400,2.406550
3,202300000004,6,5,2023,23:57,5,94,94078,2,1,3,5,Rue de Paris,48.732484,2.446876
4,202300000005,7,5,2023,00:50,5,94,94068,2,2,3,3,56bis Avenue Raspail,48.785810,2.492170

locations

,id_accident,road_category,road_number,road_number_index,road_number_letter,traffic_regime,number_of_traffic_lanes,reserved_lane_present,longitudinal_profile,nearest_reference_marker,nearest_reference_marker_distance,horizontal_alignment,width_central_reservation,carriageway_width,pavement_condition,infrastructure,accident_situation,speed_limit
0,202300000001,4,RUE DE RIVOLI,0,NaN,1,2,0,1,-1,-1,1,NaN,-1.0,2,0,1,30
1,202300000001,4,RUE SAINT FLORENTIN,0,NaN,1,1,0,1,-1,-1,1,NaN,-1.0,2,0,1,30
2,202300000002,3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1.0,2,0,1,50
3,202300000003,3,5,0,NaN,2,4,0,1,1,0,1,NaN,-1.0,2,5,1,50
4,202300000003,3,87,0,NaN,2,4,0,1,1,0,1,NaN,-1.0,2,5,1,50

users

,id_accident,id_user,id_vehicle,number_vehicle,position,user_category,injury_severity,sex,year_of_birth,trip_purpose,safety_equipment_1,safety_equipment_2,safety_equipment_3,pedestrian_location,pedestrian_action,injured_pedestrian_alone
0,202300000001,203 851 184,155 680 557,A01,1,1,4,1,1978.0,5,2,0,-1,-1,-1,-1
1,202300000002,203 851 182,155 680 556,A01,1,1,1,2,1997.0,9,1,0,-1,-1,-1,-1
2,202300000002,203 851 183,155 680 556,A01,10,3,3,1,1997.0,9,0,-1,-1,2,3,1
3,202300000003,203 851 180,155 680 554,B01,1,1,3,1,1987.0,0,2,6,0,0,0,-1
4,202300000003,203 851 181,155 680 555,A01,1,1,1,2,1984.0,0,1,0,0,0,0,-1

vehicles

,id_accident,id_vehicle,number_vehicle,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport
0,202300000001,155 680 557,A01,1,30,0,0,5,1,1,NaN
1,202300000002,155 680 556,A01,2,7,0,1,1,1,1,NaN
2,202300000003,155 680 554,B01,1,2,0,2,1,16,1,NaN
3,202300000003,155 680 555,A01,2,7,0,2,2,15,1,NaN
4,202300000004,155 680 551,B01,1,7,0,2,9,2,4,NaN

## Manage column types

### Circumstances

In [42]:
df_circumstances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54822 entries, 0 to 54821
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_accident         54822 non-null  int64
 1   day                 54822 non-null  int64
 2   month               54822 non-null  int64
 3   year                54822 non-null  int64
 4   hour_minute         54822 non-null  object
 5   lighting_condition  54822 non-null  int64
 6   department_code     54822 non-null  object
 7   commune_code        54822 non-null  object
 8   location            54822 non-null  int64
 9   intersection        54822 non-null  int64
 10  weather_condition   54822 non-null  int64
 11  type_of_collision   54822 non-null  int64
 12  postal_address      53433 non-null  object
 13  latitude            54822 non-null  float64
 14  longitude           54822 non-null  float64
dtypes: float64(2), int64(9), object(4)
memory usage: 6.3+ MB

In [43]:
# Convert the hour_minute attribute into two separate "hour" and "minute" features.
datetime_series = pd.to_datetime(df_circumstances['hour_minute'], format='%H:%M')
df_circumstances['hour'] = datetime_series.dt.hour
df_circumstances['minute'] = datetime_series.dt.minute
df_circumstances.drop(columns='hour_minute', inplace=True)

In [44]:
# Department Codes and Commune Codes are just strings, nothing to do (include letters)
# Postal Address is full address, just a string

### Locations

In [45]:
df_locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70860 entries, 0 to 70859
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id_accident                        70860 non-null  int64
 1   road_category                      70860 non-null  int64
 2   road_number                        58113 non-null  object
 3   road_number_index                  70860 non-null  int64
 4   road_number_letter                 5884 non-null   object
 5   traffic_regime                     70860 non-null  int64
 6   number_of_traffic_lanes            70860 non-null  object
 7   reserved_lane_present              70860 non-null  int64
 8   longitudinal_profile               70860 non-null  int64
 9   nearest_reference_marker           70860 non-null  object
 10  nearest_reference_marker_distance  70860 non-null  object
 11  horizontal_alignment               70860 non-null  int64
 12  width_central_reservation          31 non-null     float64
 13  carriageway_width                  70860 non-null  float64
 14  pavement_condition                 70860 non-null  int64
 15  infrastructure                     70860 non-null  int64
 16  accident_situation                 70860 non-null  int64
 17  speed_limit                        70860 non-null  int64
dtypes: float64(2), int64(11), object(5)
memory usage: 9.7+ MB

In [46]:
# Road Number can be null
# Road Number letter can be null

# number_of_traffic_lanes can be #VALEURMULTI (MultiValue) --> Artifact from the database export
df_locations.loc[df_locations['number_of_traffic_lanes'] == '#VALEURMULTI', 'number_of_traffic_lanes'] = -1 # Set them to be missing
df_locations['number_of_traffic_lanes'] = df_locations['number_of_traffic_lanes'].astype(int)

# Some Value have whitespaces between decimal places --> Remove
location_remove_whitespace = ['nearest_reference_marker', 'nearest_reference_marker_distance']
for column in location_remove_whitespace:
    df_locations[column] = df_locations[column].str.replace(r'\s+', '', regex=True)
    df_locations[column] = pd.to_numeric(df_locations[column], errors='coerce')

### Users

In [47]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125789 entries, 0 to 125788
Data columns (total 16 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_accident               125789 non-null  int64
 1   id_user                   125789 non-null  object
 2   id_vehicle                125789 non-null  object
 3   number_vehicle            125789 non-null  object
 4   position                  125789 non-null  int64
 5   user_category             125789 non-null  int64
 6   injury_severity           125789 non-null  int64
 7   sex                       125789 non-null  int64
 8   year_of_birth             123191 non-null  float64
 9   trip_purpose              125789 non-null  int64
 10  safety_equipment_1        125789 non-null  int64
 11  safety_equipment_2        125789 non-null  int64
 12  safety_equipment_3        125789 non-null  int64
 13  pedestrian_location       125789 non-null  int64
 14  pedestrian_action         125789 non-null  object
 15  injured_pedestrian_alone  125789 non-null  int64
dtypes: float64(1), int64(11), object(4)
memory usage: 15.4+ MB

In [48]:
# User and vehicle ids can have whitespaces in decimal places --> Remove
user_remove_whitespace = ['id_user', 'id_vehicle']
for column in user_remove_whitespace:
    df_users[column] = df_users[column].str.replace(r'\s+', '', regex=True)
    df_users[column] = pd.to_numeric(df_users[column], errors='coerce')

# Pedestrian Action can have letters instead of numericals --> Irrelevant, since column will be dropped.

### Vehicles

In [49]:
df_vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93585 entries, 0 to 93584
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id_accident                           93585 non-null  int64
 1   id_vehicle                            93585 non-null  object
 2   number_vehicle                        93585 non-null  object
 3   direction_of_travel                   93585 non-null  int64
 4   vehicle_category                      93585 non-null  int64
 5   fixed_obstacle_struck                 93585 non-null  int64
 6   mobile_obstacle_struck                93585 non-null  int64
 7   initial_point_of_impact               93585 non-null  int64
 8   main_maneuver_before_accident         93585 non-null  int64
 9   motor_type                            93585 non-null  int64
 10  number_occupants_in_public_transport  838 non-null    float64
dtypes: float64(1), int64(8), object(2)
memory usage: 7.9+ MB

In [50]:
# Same as before
vehicle_remove_whitespace = ['id_vehicle']
for column in vehicle_remove_whitespace:
    df_vehicles[column] = df_vehicles[column].str.replace(r'\s+', '', regex=True)
    df_vehicles[column] = pd.to_numeric(df_vehicles[column], errors='coerce')

# Number vehicle is string, will be dropped later on regardless.

## Merge the data

In [51]:
df_users_copy = df_users.copy()

# role_map = {1: 'driver', 2: 'passenger', 3:'pedestrian'}
# df_users_copy['role'] = df_users_copy['user_category'].map(role_map).fillna('other')

# Create a feature for the age of a user
df_users_copy = df_users_copy.merge(df_circumstances[['id_accident', 'year']], on='id_accident', how='left')
df_users_copy['age'] = (df_users_copy['year'] - df_users_copy['year_of_birth']).astype('Int64') # Can be null !!!
df_users_copy = df_users_copy.drop(columns=['year', 'year_of_birth', 'number_vehicle'])
df_users_copy

,id_accident,id_user,id_vehicle,position,user_category,injury_severity,sex,trip_purpose,safety_equipment_1,safety_equipment_2,safety_equipment_3,pedestrian_location,pedestrian_action,injured_pedestrian_alone,age
0,202300000001,203851184,155680557,1,1,4,1,5,2,0,-1,-1,-1,-1,45
1,202300000002,203851182,155680556,1,1,1,2,9,1,0,-1,-1,-1,-1,26
2,202300000002,203851183,155680556,10,3,3,1,9,0,-1,-1,2,3,1,26
3,202300000003,203851180,155680554,1,1,3,1,0,2,6,0,0,0,-1,36
4,202300000003,203851181,155680555,1,1,1,2,0,1,0,0,0,0,-1,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,203720720,155583346,1,1,4,1,1,2,0,-1,0,0,-1,52
125785,202300054821,203720721,155583347,1,1,1,2,1,1,0,-1,0,0,-1,55
125786,202300054822,203720717,155583344,2,2,1,2,2,1,-1,-1,-1,-1,-1,20
125787,202300054822,203720718,155583344,1,1,1,2,1,1,-1,-1,-1,-1,-1,21
125788,202300054822,203720719,155583345,1,1,3,2,1,2,-1,-1,-1,-1,-1,28

In [52]:
# Convert Secu_Feature into OneHotEncoding

df_users_secure_flags = df_users_copy.copy()

SECU_FLAG = {
    1:"used_belt", 2:"used_helmet", 3:"used_child_restraint", 4:"used_reflective_vest",
    5:"used_airbag", 6:"used_gloves", 7:"used_gloves_and_airbag", 9:"used_other"
}
SECU_COLS = ["safety_equipment_1","safety_equipment_2","safety_equipment_3"]

S = df_users_secure_flags[SECU_COLS].apply(pd.to_numeric, errors="coerce")

for code, name in SECU_FLAG.items():
    df_users_secure_flags[name] = S.isin([code]).any(axis=1).astype(int)

# df_users_secure_flags["used_any_secu"] = S.isin(list(SECU_FLAG.keys())).any(axis=1).astype(int)
# df_users_secure_flags["no_equipment"]  = (S.isin([0]).any(axis=1) & ~df_users_secure_flags["used_any_secu"]).astype(int)
# df_users_secure_flags["secu_not_reported"] = (S.isin([-1]).any(axis=1) & ~df_users_secure_flags["used_any_secu"]).astype(int)  # optional
# df_users_secure_flags["secu_not_determinable"] = (S.isin([8]).any(axis=1) & ~df_users_secure_flags["used_any_secu"]).astype(int)  # optional

df_users_secure_flags = df_users_secure_flags.drop(columns=['safety_equipment_1', 'safety_equipment_2', 'safety_equipment_3'])

df_users_copy = df_users_secure_flags
df_users_copy

,id_accident,id_user,id_vehicle,position,user_category,injury_severity,sex,trip_purpose,pedestrian_location,pedestrian_action,injured_pedestrian_alone,age,used_belt,used_helmet,used_child_restraint,used_reflective_vest,used_airbag,used_gloves,used_gloves_and_airbag,used_other
0,202300000001,203851184,155680557,1,1,4,1,5,-1,-1,-1,45,0,1,0,0,0,0,0,0
1,202300000002,203851182,155680556,1,1,1,2,9,-1,-1,-1,26,1,0,0,0,0,0,0,0
2,202300000002,203851183,155680556,10,3,3,1,9,2,3,1,26,0,0,0,0,0,0,0,0
3,202300000003,203851180,155680554,1,1,3,1,0,0,0,-1,36,0,1,0,0,0,1,0,0
4,202300000003,203851181,155680555,1,1,1,2,0,0,0,-1,39,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,203720720,155583346,1,1,4,1,1,0,0,-1,52,0,1,0,0,0,0,0,0
125785,202300054821,203720721,155583347,1,1,1,2,1,0,0,-1,55,1,0,0,0,0,0,0,0
125786,202300054822,203720717,155583344,2,2,1,2,2,-1,-1,-1,20,1,0,0,0,0,0,0,0
125787,202300054822,203720718,155583344,1,1,1,2,1,-1,-1,-1,21,1,0,0,0,0,0,0,0
125788,202300054822,203720719,155583345,1,1,3,2,1,-1,-1,-1,28,0,1,0,0,0,0,0,0

In [53]:
# Join the user's associated vehicle (drivers=ridden/driven; pedestrians=striken by the vehicle)
df_vehicles_copy = df_vehicles.copy()

display(df_vehicles_copy)

def simplify_catv_6(x):
    if pd.isna(x):                 return pd.NA
    if x in {1,80}:                return "bicycle"
    if x in {2,30,41,31,32,33,34,42,43}:  return "powered_2_3_wheeler"
    if x in {7,10}:                return "light_motor_vehicle"        # car + van
    if x in {13,14,15,16,17}:      return "hgv_truck"
    if x in {37,38}:               return "bus_coach"
    # everything else: rail, quads/microcars, agri/special, PMDs, 99/00…
    return "other"

#df_vehicles_copy["vehicle_category"] = df_vehicles_copy['vehicle_category'].map(simplify_catv_6)

,id_accident,id_vehicle,number_vehicle,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport
0,202300000001,155680557,A01,1,30,0,0,5,1,1,NaN
1,202300000002,155680556,A01,2,7,0,1,1,1,1,NaN
2,202300000003,155680554,B01,1,2,0,2,1,16,1,NaN
3,202300000003,155680555,A01,2,7,0,2,2,15,1,NaN
4,202300000004,155680551,B01,1,7,0,2,9,2,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...
93580,202300054820,155583348,A01,3,7,0,9,4,26,1,NaN
93581,202300054821,155583346,A01,1,30,0,2,3,9,1,NaN
93582,202300054821,155583347,B01,1,7,0,2,2,9,1,NaN
93583,202300054822,155583344,A01,2,7,0,2,7,22,1,NaN
93584,202300054822,155583345,B01,2,50,14,2,1,1,3,NaN

In [54]:
NA_CODES = {
    # vehicles table fields where -1 means "not recorded"
    "vehicle_category": {-1}, "main_maneuver_before_accident": {-1},
    "initial_point_of_impact": {-1}, "fixed_obstacle_struck": {-1},
    "mobile_obstacle_struck": {-1}, "motor_type": {-1}, "direction_of_travel": {-1},
    "number_occupants_in_public_transport": {-1},
}
def apply_na_codes(df, na_codes=NA_CODES):
    df = df.copy()
    for col, codes in na_codes.items():
        if col in df.columns:
            df[col] = df[col].where(~df[col].isin(codes))
    return df

def _to_int_or_nan(x):
    try: return int(x)
    except Exception: return np.nan

# category weights for "biggest impact" (tune if you like)
CAT6_WEIGHT = {
    "rail_vehicle": 7,         # not in 6-bucket; rolled into "other" above if present
    "hgv_truck": 6,
    "bus_coach": 5,
    "light_motor_vehicle": 4,
    "powered_2_3_wheeler": 3,
    "bicycle": 2,
    "other": 1,
    "unknown": 1,
}

# -------------------- vehicles: sanitize + score --------------------
V = apply_na_codes(df_vehicles_copy)

V["vehicle_category"] = V["vehicle_category"].apply(simplify_catv_6)
V["impact_score"] = V["vehicle_category"].map(CAT6_WEIGHT).fillna(1)

V.sort_values(by=['id_accident', 'impact_score'], ascending=[True, False])


one_entry = V.groupby('id_accident').filter(lambda x: len(x) == 1)

for x in one_entry.columns:
    one_entry[f'{x}_other'] = pd.NA
one_entry = one_entry.drop(columns='id_accident_other')
display(one_entry)

V = (
    V.merge(V, on='id_accident', how='left', suffixes=['', '_other'])
        .query('id_vehicle != id_vehicle_other')
)

V = V.sort_values(by=['id_accident', 'id_vehicle', 'impact_score_other']).drop_duplicates(subset=['id_accident', 'id_vehicle'], keep='last')

V.drop(columns=['impact_score', 'impact_score_other'], inplace=True)
one_entry.drop(columns=['impact_score', 'impact_score_other'], inplace=True)

df_vehicles_copy = pd.concat([one_entry, V]).sort_index()
display(df_vehicles_copy)

,id_accident,id_vehicle,number_vehicle,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport,impact_score,id_vehicle_other,number_vehicle_other,direction_of_travel_other,vehicle_category_other,fixed_obstacle_struck_other,mobile_obstacle_struck_other,initial_point_of_impact_other,main_maneuver_before_accident_other,motor_type_other,number_occupants_in_public_transport_other,impact_score_other
0,202300000001,155680557,A01,1.0,powered_2_3_wheeler,0.0,0.0,5.0,1.0,1.0,NaN,3.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,202300000002,155680556,A01,2.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9,202300000006,155680548,A01,1.0,light_motor_vehicle,0.0,1.0,3.0,15.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
17,202300000010,155680540,B01,1.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
24,202300000014,155680533,A01,2.0,light_motor_vehicle,4.0,0.0,3.0,1.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93572,202300054814,155583356,B01,1.0,light_motor_vehicle,1.0,1.0,2.0,14.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
93573,202300054815,155583355,A01,0.0,powered_2_3_wheeler,0.0,9.0,1.0,0.0,1.0,NaN,3.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
93576,202300054817,155583352,A01,1.0,light_motor_vehicle,0.0,1.0,2.0,1.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
93577,202300054818,155583351,A01,1.0,light_motor_vehicle,1.0,0.0,8.0,0.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
93580,202300054820,155583348,A01,3.0,light_motor_vehicle,0.0,9.0,4.0,26.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

C:\Users\David\AppData\Local\Temp\ipykernel_12848\1241985216.py:57: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_vehicles_copy = pd.concat([one_entry, V]).sort_index()

,id_accident,id_vehicle,number_vehicle,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport,id_vehicle_other,number_vehicle_other,direction_of_travel_other,vehicle_category_other,fixed_obstacle_struck_other,mobile_obstacle_struck_other,initial_point_of_impact_other,main_maneuver_before_accident_other,motor_type_other,number_occupants_in_public_transport_other
0,202300000001,155680557,A01,1.0,powered_2_3_wheeler,0.0,0.0,5.0,1.0,1.0,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202300000002,155680556,A01,2.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,202300000003,155680554,B01,1.0,powered_2_3_wheeler,0.0,2.0,1.0,16.0,1.0,NaN,155680555,A01,2.0,light_motor_vehicle,0.0,2.0,2.0,15.0,1.0,NaN
4,202300000003,155680555,A01,2.0,light_motor_vehicle,0.0,2.0,2.0,15.0,1.0,NaN,155680554,B01,1.0,powered_2_3_wheeler,0.0,2.0,1.0,16.0,1.0,NaN
8,202300000004,155680551,B01,1.0,light_motor_vehicle,0.0,2.0,9.0,2.0,4.0,NaN,155680553,A01,1.0,light_motor_vehicle,0.0,2.0,1.0,2.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183406,202300054819,155583350,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,17.0,1.0,NaN,155583349,A01,1.0,powered_2_3_wheeler,0.0,2.0,8.0,21.0,1.0,NaN
183410,202300054821,155583346,A01,1.0,powered_2_3_wheeler,0.0,2.0,3.0,9.0,1.0,NaN,155583347,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,9.0,1.0,NaN
183411,202300054821,155583347,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,9.0,1.0,NaN,155583346,A01,1.0,powered_2_3_wheeler,0.0,2.0,3.0,9.0,1.0,NaN
183414,202300054822,155583344,A01,2.0,light_motor_vehicle,0.0,2.0,7.0,22.0,1.0,NaN,155583345,B01,2.0,other,14.0,2.0,1.0,1.0,3.0,NaN
183415,202300054822,155583345,B01,2.0,other,14.0,2.0,1.0,1.0,3.0,NaN,155583344,A01,2.0,light_motor_vehicle,0.0,2.0,7.0,22.0,1.0,NaN

In [55]:
g = df_vehicles_copy[['id_accident', 'vehicle_category']].copy()
tmp = pd.get_dummies(g, columns=['vehicle_category'], prefix='vehicle_category_involved')
vehicle_categories_involved = tmp.groupby('id_accident').sum()
vehicle_categories_involved

,vehicle_category_involved_bicycle,vehicle_category_involved_bus_coach,vehicle_category_involved_hgv_truck,vehicle_category_involved_light_motor_vehicle,vehicle_category_involved_other,vehicle_category_involved_powered_2_3_wheeler
id_accident,,,,,,
202300000001,0,0,0,0,0,1
202300000002,0,0,0,1,0,0
202300000003,0,0,0,1,0,1
202300000004,0,0,0,3,0,0
202300000005,0,0,0,2,0,0
...,...,...,...,...,...,...
202300054818,0,0,0,1,0,0
202300054819,0,0,0,1,0,1
202300054820,0,0,0,1,0,0
202300054821,0,0,0,1,0,1
202300054822,0,0,0,1,1,0

In [56]:
# AI Generated and manually checked (yes, really)
# Columns we care about for completeness scoring
LOC_SCORE_COLS = [
    "road_category","road_number","road_number_index","road_number_letter",
    "traffic_regime","number_of_traffic_lanes","reserved_lane_present",
    "longitudinal_profile","nearest_reference_marker","nearest_reference_marker_distance",
    "horizontal_alignment","width_central_reservation","carriageway_width",
    "pavement_condition","infrastructure","accident_situation","speed_limit"
]

# Optional weights: make "road_category" and "speed_limit" slightly more decisive
LOC_WEIGHTS = {
    "road_category": 2.0,
    "speed_limit": 2.0,
    # everything else defaults to 1.0
}

def _completeness_score(df: pd.DataFrame) -> pd.Series:
    present = ((df[LOC_SCORE_COLS].notna()) & (df[LOC_SCORE_COLS] != -1))
    for c, w in LOC_WEIGHTS.items():
        if c in present.columns:
            present[c] = present[c] * w
    return present.sum(axis=1)

def _major_road_rank(series: pd.Series) -> pd.Series:
    """
    Prefer major roads at intersections.
    BAAC catr: 1=Motorway, 2=National, 3=Departmental, 4=Communal, 5/6/7/9=others. 
    Lower is 'more major', so sort by this ascending; unknown gets worst rank.
    """
    s = pd.to_numeric(series, errors="coerce")
    return s.fillna(99)

def select_best_location_rows(location: pd.DataFrame) -> pd.DataFrame:
    L = location.copy()
    #
    # 
    # P = postal_address.copy()
    #L.merge(P, left_on=['id_accident', 'road_number'], right_on=['accident_id', 'postal_address'], how='left')['postal_address'].notna()

    # score completeness
    L["__score"] = _completeness_score(L)
    # tie-breakers:
    # 1) higher completeness score
    # 2) has speed_limit
    # 3) has PR/PR1 (reference marker)
    # 4) more major road_category (1 < 2 < 3 < 4 < 5/6/7/9)
    # 5) lower index as final deterministic tie-break
    L["__has_vma"] = L["speed_limit"].notna().astype(int)
    L["__has_pr"]  = L["nearest_reference_marker"].notna().astype(int) | L["nearest_reference_marker_distance"].notna().astype(int)
    L["__road_rank"] = -_major_road_rank(L["road_category"])  # negative so higher is better in sort

    L = (L
         .sort_values(["id_accident","__score","__has_vma","__has_pr","__road_rank"])
         .drop_duplicates("id_accident", keep="last")  # keep the best per accident
         .drop(columns=["__score","__has_vma","__has_pr","__road_rank"])
        )
    return L

# Example usage:
# location_best = select_best_location_rows(location)
# ACC = circumstances.merge(location_best, on="id_accident", how="left")

In [57]:
selected_locations = select_best_location_rows(df_locations)
selected_locations

,id_accident,road_category,road_number,road_number_index,road_number_letter,traffic_regime,number_of_traffic_lanes,reserved_lane_present,longitudinal_profile,nearest_reference_marker,nearest_reference_marker_distance,horizontal_alignment,width_central_reservation,carriageway_width,pavement_condition,infrastructure,accident_situation,speed_limit
1,202300000001,4,RUE SAINT FLORENTIN,0,NaN,1,1,0,1,-1,-1,1,NaN,-1.0,2,0,1,30
2,202300000002,3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1.0,2,0,1,50
4,202300000003,3,87,0,NaN,2,4,0,1,1,0,1,NaN,-1.0,2,5,1,50
5,202300000004,2,6,0,NaN,2,4,0,1,18,1,1,NaN,12.0,2,0,1,50
7,202300000005,4,NaN,0,NaN,2,2,0,1,-1,-1,1,NaN,-1.0,2,0,1,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70855,202300054818,4,LA FONTAINE (RUE JEAN DE),0,NaN,2,2,0,1,-1,0,1,NaN,-1.0,1,0,1,50
70856,202300054819,4,RN3 (ANCIENNE ROUTE),0,NaN,2,2,0,2,0,0,1,NaN,-1.0,1,0,1,50
70857,202300054820,4,BAMBOU (CHEMIN DE LA RUELLE),0,NaN,2,2,0,2,0,0,2,NaN,-1.0,1,0,8,30
70858,202300054821,2,ROUTE NATIONALE 1,0,NaN,-1,2,1,1,4,50,1,NaN,-1.0,1,0,1,90
70859,202300054822,4,YVES FARGES (BD),0,NaN,2,2,2,1,-1,-1,1,NaN,-1.0,1,0,5,30

In [58]:
vehicle_features = ['id_vehicle', 'number_vehicle', 'direction_of_travel', 'vehicle_category', 'fixed_obstacle_struck', 'mobile_obstacle_struck', 'initial_point_of_impact', 'main_maneuver_before_accident', 'motor_type', 'number_occupants_in_public_transport']
vehicle_other = [f'{x}_other' for x in vehicle_features]

display(df_users_copy)
display(df_vehicles_copy)


df_user_vehicle = df_users_copy.merge(df_vehicles_copy, on=['id_accident', 'id_vehicle'], how='left')

mask = (df_user_vehicle['user_category'] == 3) # Is a pedestrian
df_user_vehicle.loc[mask, vehicle_other] = df_user_vehicle.loc[mask, vehicle_features].to_numpy()
# 2) clear the original vehicle columns for pedestrians
df_user_vehicle.loc[mask, vehicle_features] = pd.NA

display(df_user_vehicle[mask])

,id_accident,id_user,id_vehicle,position,user_category,injury_severity,sex,trip_purpose,pedestrian_location,pedestrian_action,injured_pedestrian_alone,age,used_belt,used_helmet,used_child_restraint,used_reflective_vest,used_airbag,used_gloves,used_gloves_and_airbag,used_other
0,202300000001,203851184,155680557,1,1,4,1,5,-1,-1,-1,45,0,1,0,0,0,0,0,0
1,202300000002,203851182,155680556,1,1,1,2,9,-1,-1,-1,26,1,0,0,0,0,0,0,0
2,202300000002,203851183,155680556,10,3,3,1,9,2,3,1,26,0,0,0,0,0,0,0,0
3,202300000003,203851180,155680554,1,1,3,1,0,0,0,-1,36,0,1,0,0,0,1,0,0
4,202300000003,203851181,155680555,1,1,1,2,0,0,0,-1,39,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,203720720,155583346,1,1,4,1,1,0,0,-1,52,0,1,0,0,0,0,0,0
125785,202300054821,203720721,155583347,1,1,1,2,1,0,0,-1,55,1,0,0,0,0,0,0,0
125786,202300054822,203720717,155583344,2,2,1,2,2,-1,-1,-1,20,1,0,0,0,0,0,0,0
125787,202300054822,203720718,155583344,1,1,1,2,1,-1,-1,-1,21,1,0,0,0,0,0,0,0
125788,202300054822,203720719,155583345,1,1,3,2,1,-1,-1,-1,28,0,1,0,0,0,0,0,0

,id_accident,id_vehicle,number_vehicle,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport,id_vehicle_other,number_vehicle_other,direction_of_travel_other,vehicle_category_other,fixed_obstacle_struck_other,mobile_obstacle_struck_other,initial_point_of_impact_other,main_maneuver_before_accident_other,motor_type_other,number_occupants_in_public_transport_other
0,202300000001,155680557,A01,1.0,powered_2_3_wheeler,0.0,0.0,5.0,1.0,1.0,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202300000002,155680556,A01,2.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,202300000003,155680554,B01,1.0,powered_2_3_wheeler,0.0,2.0,1.0,16.0,1.0,NaN,155680555,A01,2.0,light_motor_vehicle,0.0,2.0,2.0,15.0,1.0,NaN
4,202300000003,155680555,A01,2.0,light_motor_vehicle,0.0,2.0,2.0,15.0,1.0,NaN,155680554,B01,1.0,powered_2_3_wheeler,0.0,2.0,1.0,16.0,1.0,NaN
8,202300000004,155680551,B01,1.0,light_motor_vehicle,0.0,2.0,9.0,2.0,4.0,NaN,155680553,A01,1.0,light_motor_vehicle,0.0,2.0,1.0,2.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183406,202300054819,155583350,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,17.0,1.0,NaN,155583349,A01,1.0,powered_2_3_wheeler,0.0,2.0,8.0,21.0,1.0,NaN
183410,202300054821,155583346,A01,1.0,powered_2_3_wheeler,0.0,2.0,3.0,9.0,1.0,NaN,155583347,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,9.0,1.0,NaN
183411,202300054821,155583347,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,9.0,1.0,NaN,155583346,A01,1.0,powered_2_3_wheeler,0.0,2.0,3.0,9.0,1.0,NaN
183414,202300054822,155583344,A01,2.0,light_motor_vehicle,0.0,2.0,7.0,22.0,1.0,NaN,155583345,B01,2.0,other,14.0,2.0,1.0,1.0,3.0,NaN
183415,202300054822,155583345,B01,2.0,other,14.0,2.0,1.0,1.0,3.0,NaN,155583344,A01,2.0,light_motor_vehicle,0.0,2.0,7.0,22.0,1.0,NaN

,id_accident,id_user,id_vehicle,position,user_category,injury_severity,sex,trip_purpose,pedestrian_location,pedestrian_action,injured_pedestrian_alone,age,used_belt,used_helmet,used_child_restraint,used_reflective_vest,used_airbag,used_gloves,used_gloves_and_airbag,used_other,number_vehicle,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport,id_vehicle_other,number_vehicle_other,direction_of_travel_other,vehicle_category_other,fixed_obstacle_struck_other,mobile_obstacle_struck_other,initial_point_of_impact_other,main_maneuver_before_accident_other,motor_type_other,number_occupants_in_public_transport_other
2,202300000002,203851183,NaN,10,3,3,1,9,2,3,1,26,0,0,0,0,0,0,0,0,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,155680556,A01,2.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN
12,202300000006,203851171,NaN,10,3,4,1,9,3,3,1,20,0,0,0,0,0,0,0,0,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,155680548,A01,1.0,light_motor_vehicle,0.0,1.0,3.0,15.0,1.0,NaN
24,202300000010,203851161,NaN,10,3,4,1,5,2,3,2,70,0,0,0,0,0,0,0,0,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,155680540,B01,1.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN
104,202300000042,203851081,NaN,10,3,3,2,5,3,1,1,91,0,0,0,0,0,0,0,0,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,155680487,A01,0.0,bicycle,0.0,1.0,1.0,2.0,5.0,NaN
126,202300000053,203851056,NaN,10,3,3,2,5,1,3,1,7,0,0,0,0,0,0,0,0,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,155680465,A01,3.0,light_motor_vehicle,0.0,1.0,3.0,1.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125736,202300054796,203720772,NaN,10,3,2,1,9,1,3,1,50,0,0,0,0,0,0,0,0,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,155583387,A01,2.0,light_motor_vehicle,0.0,1.0,3.0,11.0,1.0,NaN
125765,202300054811,203720739,NaN,10,3,3,2,5,4,3,1,18,0,0,0,0,0,0,0,0,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,155583360,Z01,2.0,light_motor_vehicle,0.0,1.0,1.0,2.0,0.0,NaN
125771,202300054814,203720735,NaN,10,3,3,1,3,1,A,1,38,0,0,0,0,0,0,0,0,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,155583356,B01,1.0,light_motor_vehicle,1.0,1.0,2.0,14.0,1.0,NaN
125777,202300054817,203720729,NaN,10,3,4,1,1,3,4,1,35,0,0,0,0,0,0,0,0,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,155583352,A01,1.0,light_motor_vehicle,0.0,1.0,2.0,1.0,1.0,NaN
125779,202300054818,203720727,NaN,10,3,4,2,0,9,3,1,4,0,0,0,0,0,0,0,0,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,155583351,A01,1.0,light_motor_vehicle,1.0,0.0,8.0,0.0,1.0,NaN

In [59]:
# display(df_circumstances)
# display(selected_locations)
# display(df_user_vehicle)
# display(vehicle_categories_involved)

final_table = (
    df_circumstances
    .copy()
    .merge(selected_locations, on='id_accident', how='left')
    .merge(df_user_vehicle, on='id_accident', how='left')
    .merge(vehicle_categories_involved, on='id_accident', how='left')
)

display(final_table)

,id_accident,day,month,year,lighting_condition,department_code,commune_code,location,intersection,weather_condition,type_of_collision,postal_address,latitude,longitude,hour,minute,road_category,road_number,road_number_index,road_number_letter,traffic_regime,number_of_traffic_lanes,reserved_lane_present,longitudinal_profile,nearest_reference_marker,nearest_reference_marker_distance,horizontal_alignment,width_central_reservation,carriageway_width,pavement_condition,infrastructure,accident_situation,speed_limit,id_user,id_vehicle,position,user_category,injury_severity,sex,trip_purpose,pedestrian_location,pedestrian_action,injured_pedestrian_alone,age,used_belt,used_helmet,used_child_restraint,used_reflective_vest,used_airbag,used_gloves,used_gloves_and_airbag,used_other,number_vehicle,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport,id_vehicle_other,number_vehicle_other,direction_of_travel_other,vehicle_category_other,fixed_obstacle_struck_other,mobile_obstacle_struck_other,initial_point_of_impact_other,main_maneuver_before_accident_other,motor_type_other,number_occupants_in_public_transport_other,vehicle_category_involved_bicycle,vehicle_category_involved_bus_coach,vehicle_category_involved_hgv_truck,vehicle_category_involved_light_motor_vehicle,vehicle_category_involved_other,vehicle_category_involved_powered_2_3_wheeler
0,202300000001,7,5,2023,1,75,75101,2,4,2,7,RUE DE RIVOLI,48.866386,2.323471,6,0,4,RUE SAINT FLORENTIN,0,NaN,1,1,0,1,-1,-1,1,NaN,-1.0,2,0,1,30,203851184,155680557.0,1,1,4,1,5,-1,-1,-1,45,0,1,0,0,0,0,0,0,A01,1.0,powered_2_3_wheeler,0.0,0.0,5.0,1.0,1.0,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,1
1,202300000002,7,5,2023,5,94,94080,2,1,3,6,Avenue de Paris,48.845478,2.428681,5,30,3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1.0,2,0,1,50,203851182,155680556.0,1,1,1,2,9,-1,-1,-1,26,1,0,0,0,0,0,0,0,A01,2.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0,0
2,202300000002,7,5,2023,5,94,94080,2,1,3,6,Avenue de Paris,48.845478,2.428681,5,30,3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1.0,2,0,1,50,203851183,NaN,10,3,3,1,9,2,3,1,26,0,0,0,0,0,0,0,0,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,155680556,A01,2.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN,0,0,0,1,0,0
3,202300000003,7,5,2023,1,94,94022,2,3,2,1,Avenue du Général Leclerc,48.762400,2.406550,20,50,3,87,0,NaN,2,4,0,1,1,0,1,NaN,-1.0,2,5,1,50,203851180,155680554.0,1,1,3,1,0,0,0,-1,36,0,1,0,0,0,1,0,0,B01,1.0,powered_2_3_wheeler,0.0,2.0,1.0,16.0,1.0,NaN,155680555,A01,2.0,light_motor_vehicle,0.0,2.0,2.0,15.0,1.0,NaN,0,0,0,1,0,1
4,202300000003,7,5,2023,1,94,94022,2,3,2,1,Avenue du Général Leclerc,48.762400,2.406550,20,50,3,87,0,NaN,2,4,0,1,1,0,1,NaN,-1.0,2,5,1,50,203851181,155680555.0,1,1,1,2,0,0,0,-1,39,1,0,0,0,0,0,0,0,A01,2.0,light_motor_vehicle,0.0,2.0,2.0,15.0,1.0,NaN,155680554,B01,1.0,powered_2_3_wheeler,0.0,2.0,1.0,16.0,1.0,NaN,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,26,10,2023,1,973,97302,1,6,1,3,ROUTE NATIONALE 1,4.897130,-52.328540,17,20,2,ROUTE NATIONALE 1,0,NaN,-1,2,1,1,4,50,1,NaN,-1.0,1,0,1,90,203720720,155583346.0,1,1,4,1,1,0,0,-1,52,0,1,0,0,0,0,0,0,A01,1.0,powered_2_3_wheeler,0.0,2.0,3.0,9.0,1.0,NaN,155583347,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,9.0,1.0,NaN,0,0,0,1,0,1
125785,202300054821,26,10,2023,1,973,97302,1,6,1,3,ROUTE NATIONALE 1,4.897130,-52.328540,17,20,2,ROUTE NATIONALE 1,0,NaN,-1,2,1,1,4,50,1,NaN,-1.0,1,0,1,90,203720721,155583347.0,1,1,1,2,1,0,0,-1,55,1,0,0,0,0,0,0,0,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,9.0,1.0,NaN,155583346,A01,1.0,powered_2_3_wheeler,0.0,2.0,3.0,9.0,1.0,NaN,0,0,0,1,0,1
125786,202300054822,20,10,2023,1,69,69387,2,1,6,3,Boulevard Yves Farge,45.733060,4.825400,16,30,4,YVES FARGES (BD),0,NaN,2,2,2,1,-1,-1,1,NaN,-1.0,1,0,5,30,203720717,155583344.0,2,2,1,2,2,-1,-1,-1,20,1,0,0,0,0,0,0,0,A01,2.0,light_motor_vehicle,0.0,2.0,7.0,22.0,1.0,NaN,155583345,B01,2.0,other,14.0,2.0,1.0,1.0,3.0,NaN,0,0,0,1,1,0
125787,202300054822,20,10,2023,1,69,69387,2,1,6,3,Boulevard Yves Farge,45.733060,4.825400,16,30,4,YVES FARGES (BD),0,NaN,2,2,2,1,-1,-1,1,NaN,-1.0,1,0,5,30,203720718,155583344.0,1,1,1,2,1,-1,-1,-1,21,1,0,0,0,0,0,0,0,A01,2.0,light_motor_vehicle,0.0,2.0,7.0,22.0,1.0,NaN,155583345,B01,2.0,other,14.0,2.0,1.0,1.0,3.0,NaN,0,0,0,1,1,0
125788,202300054822,20,10,2023,1,69,69387,2,1,6,3,Boulevard Yves Farge,45.733060,4.825400,16,30,4,YVES FARGES (BD),0,NaN,2,2,2,1,-1,-1,1,NaN,-1.0,1,0,5,30,203720719,155583345.0,1,1,3,2,1,-1,-1,-1,28,0,1,0,0,0,0,0,0,B01,2.0,other,14.0,2.0,1.0,1.0,3.0,NaN,155583344,A01,2.0,light_motor_vehicle,0.0,2.0,7.0,22.0,1.0,NaN,0,0,0,1,1,0

In [60]:
final_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125789 entries, 0 to 125788
Data columns (total 77 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   id_accident                                    125789 non-null  int64
 1   day                                            125789 non-null  int64
 2   month                                          125789 non-null  int64
 3   year                                           125789 non-null  int64
 4   lighting_condition                             125789 non-null  int64
 5   department_code                                125789 non-null  object
 6   commune_code                                   125789 non-null  object
 7   location                                       125789 non-null  int64
 8   intersection                                   125789 non-null  int64
 9   weather_condition                              125789 non-null  int64
 10  type_of_collision                              125789 non-null  int64
 11  postal_address                                 122457 non-null  object
 12  latitude                                       125789 non-null  float64
 13  longitude                                      125789 non-null  float64
 14  hour                                           125789 non-null  int32
 15  minute                                         125789 non-null  int32
 16  road_category                                  125789 non-null  int64
 17  road_number                                    114144 non-null  object
 18  road_number_index                              125789 non-null  int64
 19  road_number_letter                             12968 non-null   object
 20  traffic_regime                                 125789 non-null  int64
 21  number_of_traffic_lanes                        125789 non-null  int64
 22  reserved_lane_present                          125789 non-null  int64
 23  longitudinal_profile                           125789 non-null  int64
 24  nearest_reference_marker                       125789 non-null  int64
 25  nearest_reference_marker_distance              125789 non-null  int64
 26  horizontal_alignment                           125789 non-null  int64
 27  width_central_reservation                      63 non-null      float64
 28  carriageway_width                              125789 non-null  float64
 29  pavement_condition                             125789 non-null  int64
 30  infrastructure                                 125789 non-null  int64
 31  accident_situation                             125789 non-null  int64
 32  speed_limit                                    125789 non-null  int64
 33  id_user                                        125789 non-null  int64
 34  id_vehicle                                     116268 non-null  float64
 35  position                                       125789 non-null  int64
 36  user_category                                  125789 non-null  int64
 37  injury_severity                                125789 non-null  int64
 38  sex                                            125789 non-null  int64
 39  trip_purpose                                   125789 non-null  int64
 40  pedestrian_location                            125789 non-null  int64
 41  pedestrian_action                              125789 non-null  object
 42  injured_pedestrian_alone                       125789 non-null  int64
 43  age                                            123191 non-null  Int64
 44  used_belt                                      125789 non-null  int64
 45  used_helmet                                    125789 non-null  int64
 46  used_child_restraint                           125789 non-null  int64
 47  used_reflective_vest                           125789 non-null  int64
 48  used_airbag                                    125789 non-null  int64
 49  used_gloves                                    125789 non-null  int64
 50  used_gloves_and_airbag                         125789 non-null  int64
 51  used_other                                     125789 non-null  int64
 52  number_vehicle                                 116268 non-null  object
 53  direction_of_travel                            116138 non-null  float64
 54  vehicle_category                               116265 non-null  object
 55  fixed_obstacle_struck                          116196 non-null  float64
 56  mobile_obstacle_struck                         116214 non-null  float64
 57  initial_point_of_impact                        116197 non-null  float64
 58  main_maneuver_before_accident                  116223 non-null  float64
 59  motor_type                                     116063 non-null  float64
 60  number_occupants_in_public_transport           1763 non-null    float64
 61  id_vehicle_other                               99234 non-null   object
 62  number_vehicle_other                           99234 non-null   object
 63  direction_of_travel_other                      99131 non-null   float64
 64  vehicle_category_other                         99230 non-null   object
 65  fixed_obstacle_struck_other                    99173 non-null   float64
 66  mobile_obstacle_struck_other                   99202 non-null   float64
 67  initial_point_of_impact_other                  99178 non-null   float64
 68  main_maneuver_before_accident_other            99193 non-null   float64
 69  motor_type_other                               99051 non-null   float64
 70  number_occupants_in_public_transport_other     1086 non-null    float64
 71  vehicle_category_involved_bicycle              125789 non-null  int64
 72  vehicle_category_involved_bus_coach            125789 non-null  int64
 73  vehicle_category_involved_hgv_truck            125789 non-null  int64
 74  vehicle_category_involved_light_motor_vehicle  125789 non-null  int64
 75  vehicle_category_involved_other                125789 non-null  int64
 76  vehicle_category_involved_powered_2_3_wheeler  125789 non-null  int64
dtypes: Int64(1), float64(19), int32(2), int64(44), object(11)
memory usage: 73.1+ MB

In [61]:
# AI generated helper function
def not_reported_summary(
    df: pd.DataFrame,
    zeros_as_na_cols=None,                 # columns where 0 means "Sans objet/Aucun"
    extra_markers_by_col=None              # dict like {"col": {"-9","99"}}
) -> pd.DataFrame:
    zeros_as_na_cols = set(zeros_as_na_cols or [])
    extra_markers_by_col = extra_markers_by_col or {}

    rows = []
    for col in df.columns:
        s = df[col]

        # work on strings to catch both string and numeric codes
        s_str = s.astype(str).str.strip()
        s_num = pd.to_numeric(s_str, errors="coerce")

        nulls   = s.isna().sum()
        blanks  = (s_str == "").sum()
        dots    = (s_str == ".").sum()
        minus1  = (s_num == -1).sum()      # "-1 = Non renseigné" in many fields
        zero_na = ((s_num == 0) | (s_str == "0")).sum() if col in zeros_as_na_cols else 0

        # column-specific extra markers (e.g., {"grav": {"9"}, "trajet": {"0"}})
        extras = 0
        if col in extra_markers_by_col:
            extras = s_str.isin(set(extra_markers_by_col[col])).sum()

        any_na = nulls + blanks + dots + minus1 + zero_na + extras
        pct    = any_na / len(df) * 100 if len(df) else 0

        rows.append({
            "column": col,
            "rows": len(df),
            "null": int(nulls),
            "blank": int(blanks),
            "dot(.)": int(dots),
            "-1_not_reported": int(minus1),
            "zero_as_na": int(zero_na),
            "extra_markers": int(extras),
            "any_missing_like": int(any_na),
            "any_missing_like_pct": round(pct, 2),
        })

    out = pd.DataFrame(rows).sort_values("any_missing_like_pct", ascending=False)
    return out

In [62]:
pd.set_option('display.max_rows', None)
not_reported_summary(final_table)

,column,rows,null,blank,dot(.),-1_not_reported,zero_as_na,extra_markers,any_missing_like,any_missing_like_pct
27,width_central_reservation,125789,125726,0,0,0,0,0,125726,99.95
70,number_occupants_in_public_transport_other,125789,124703,0,0,0,0,0,124703,99.14
60,number_occupants_in_public_transport,125789,124026,0,0,0,0,0,124026,98.60
42,injured_pedestrian_alone,125789,0,0,0,115690,0,0,115690,91.97
19,road_number_letter,125789,112821,0,0,0,0,0,112821,89.69
28,carriageway_width,125789,0,0,0,86209,0,0,86209,68.53
40,pedestrian_location,125789,0,0,0,63330,0,0,63330,50.35
41,pedestrian_action,125789,0,0,0,63253,0,0,63253,50.29
25,nearest_reference_marker_distance,125789,0,0,0,40673,0,0,40673,32.33
24,nearest_reference_marker,125789,0,0,0,40270,0,0,40270,32.01
69,motor_type_other,125789,26738,0,0,0,0,0,26738,21.26
63,direction_of_travel_other,125789,26658,0,0,0,0,0,26658,21.19
67,initial_point_of_impact_other,125789,26611,0,0,0,0,0,26611,21.16
65,fixed_obstacle_struck_other,125789,26616,0,0,0,0,0,26616,21.16
68,main_maneuver_before_accident_other,125789,26596,0,0,0,0,0,26596,21.14
66,mobile_obstacle_struck_other,125789,26587,0,0,0,0,0,26587,21.14
62,number_vehicle_other,125789,26555,0,0,0,0,0,26555,21.11
64,vehicle_category_other,125789,26559,0,0,0,0,0,26559,21.11
61,id_vehicle_other,125789,26555,0,0,0,0,0,26555,21.11
18,road_number_index,125789,0,0,0,22040,0,0,22040,17.52
17,road_number,125789,11645,0,0,0,0,0,11645,9.26
59,motor_type,125789,9726,0,0,0,0,0,9726,7.73
53,direction_of_travel,125789,9651,0,0,0,0,0,9651,7.67
57,initial_point_of_impact,125789,9592,0,0,0,0,0,9592,7.63
55,fixed_obstacle_struck,125789,9593,0,0,0,0,0,9593,7.63
56,mobile_obstacle_struck,125789,9575,0,0,0,0,0,9575,7.61
58,main_maneuver_before_accident,125789,9566,0,0,0,0,0,9566,7.60
52,number_vehicle,125789,9521,0,0,0,0,0,9521,7.57
34,id_vehicle,125789,9521,0,0,0,0,0,9521,7.57
54,vehicle_category,125789,9524,0,0,0,0,0,9524,7.57
20,traffic_regime,125789,0,0,0,7411,0,0,7411,5.89
11,postal_address,125789,3332,0,0,0,0,0,3332,2.65
43,age,125789,2598,0,0,0,0,0,2598,2.07
39,trip_purpose,125789,0,0,0,2499,0,0,2499,1.99
38,sex,125789,0,0,0,2431,0,0,2431,1.93
32,speed_limit,125789,0,0,0,2150,0,0,2150,1.71
21,number_of_traffic_lanes,125789,0,0,0,1141,0,0,1141,0.91
30,infrastructure,125789,0,0,0,944,0,0,944,0.75
22,reserved_lane_present,125789,0,0,0,254,0,0,254,0.20
37,injury_severity,125789,0,0,0,118,0,0,118,0.09
10,type_of_collision,125789,0,0,0,28,0,0,28,0.02
31,accident_situation,125789,0,0,0,7,0,0,7,0.01
9,weather_condition,125789,0,0,0,7,0,0,7,0.01
8,intersection,125789,0,0,0,9,0,0,9,0.01
26,horizontal_alignment,125789,0,0,0,8,0,0,8,0.01
23,longitudinal_profile,125789,0,0,0,8,0,0,8,0.01
29,pavement_condition,125789,0,0,0,8,0,0,8,0.01
12,latitude,125789,0,0,0,0,0,0,0,0.00
7,location,125789,0,0,0,0,0,0,0,0.00
1,day,125789,0,0,0,0,0,0,0,0.00
2,month,125789,0,0,0,0,0,0,0,0.00
3,year,125789,0,0,0,0,0,0,0,0.00
4,lighting_condition,125789,0,0,0,3,0,0,3,0.00
0,id_accident,125789,0,0,0,0,0,0,0,0.00
5,department_code,125789,0,0,0,0,0,0,0,0.00
6,commune_code,125789,0,0,0,0,0,0,0,0.00
36,user_category,125789,0,0,0,0,0,0,0,0.00
13,longitude,125789,0,0,0,0,0,0,0,0.00
14,hour,125789,0,0,0,0,0,0,0,0.00
15,minute,125789,0,0,0,0,0,0,0,0.00
16,road_category,125789,0,0,0,0,0,0,0,0.00
44,used_belt,125789,0,0,0,0,0,0,0,0.00
33,id_user,125789,0,0,0,0,0,0,0,0.00
35,position,125789,0,0,0,2,0,0,2,0.00
47,used_reflective_vest,125789,0,0,0,0,0,0,0,0.00
50,used_gloves_and_airbag,125789,0,0,0,0,0,0,0,0.00
49,used_gloves,125789,0,0,0,0,0,0,0,0.00
51,used_other,125789,0,0,0,0,0,0,0,0.00
46,used_child_restraint,125789,0,0,0,0,0,0,0,0.00
48,used_airbag,125789,0,0,0,0,0,0,0,0.00
45,used_helmet,125789,0,0,0,0,0,0,0,0.00
71,vehicle_category_involved_bicycle,125789,0,0,0,0,0,0,0,0.00
72,vehicle_category_involved_bus_coach,125789,0,0,0,0,0,0,0,0.00
73,vehicle_category_involved_hgv_truck,125789,0,0,0,0,0,0,0,0.00
74,vehicle_category_involved_light_motor_vehicle,125789,0,0,0,0,0,0,0,0.00
75,vehicle_category_involved_other,125789,0,0,0,0,0,0,0,0.00
76,vehicle_category_involved_powered_2_3_wheeler,125789,0,0,0,0,0,0,0,0.00

In [63]:
pd.reset_option('display.max_rows')

In [64]:
#final_table.to_csv('data/final_table_proposal.csv')

In [65]:
final_table[pd.to_numeric(final_table['id_user'], errors='coerce').isnull()]

Empty DataFrame
Columns: [id_accident, day, month, year, lighting_condition, department_code, commune_code, location, intersection, weather_condition, type_of_collision, postal_address, latitude, longitude, hour, minute, road_category, road_number, road_number_index, road_number_letter, traffic_regime, number_of_traffic_lanes, reserved_lane_present, longitudinal_profile, nearest_reference_marker, nearest_reference_marker_distance, horizontal_alignment, width_central_reservation, carriageway_width, pavement_condition, infrastructure, accident_situation, speed_limit, id_user, id_vehicle, position, user_category, injury_severity, sex, trip_purpose, pedestrian_location, pedestrian_action, injured_pedestrian_alone, age, used_belt, used_helmet, used_child_restraint, used_reflective_vest, used_airbag, used_gloves, used_gloves_and_airbag, used_other, number_vehicle, direction_of_travel, vehicle_category, fixed_obstacle_struck, mobile_obstacle_struck, initial_point_of_impact, main_maneuver_before_accident, motor_type, number_occupants_in_public_transport, id_vehicle_other, number_vehicle_other, direction_of_travel_other, vehicle_category_other, fixed_obstacle_struck_other, mobile_obstacle_struck_other, initial_point_of_impact_other, main_maneuver_before_accident_other, motor_type_other, number_occupants_in_public_transport_other, vehicle_category_involved_bicycle, vehicle_category_involved_bus_coach, vehicle_category_involved_hgv_truck, vehicle_category_involved_light_motor_vehicle, vehicle_category_involved_other, vehicle_category_involved_powered_2_3_wheeler]
Index: []

## Drop unnecessary columns

In [66]:
test = final_table.copy()

columns_to_drop = [
    # IDs and high-cardinality identifiers
    'id_accident', 'id_vehicle', 'id_user', 'number_vehicle', 'department_code',
    'commune_code', 'postal_address', 'road_number', 'road_number_index',
    'road_number_letter',

    # little information and a lot of missing values
    'width_central_reservation', 'number_occupants_in_public_transport', 'number_occupants_in_public_transport_other',
    'id_vehicle_other','number_vehicle_other', 'nearest_reference_marker_distance', 'nearest_reference_marker',

    # Other columns deemed not useful for modeling
    'injured_pedestrian_alone', 'carriageway_width', 'trip_purpose', 'year'
]

test.drop(columns=columns_to_drop, inplace=True)
# All ids must be dropped since they are unique: id_accident, id_vehicle, id_user
test[test['used_other'] == 1]

,day,month,lighting_condition,location,intersection,weather_condition,type_of_collision,latitude,longitude,hour,minute,road_category,traffic_regime,number_of_traffic_lanes,reserved_lane_present,longitudinal_profile,horizontal_alignment,pavement_condition,infrastructure,accident_situation,speed_limit,position,user_category,injury_severity,sex,pedestrian_location,pedestrian_action,age,used_belt,used_helmet,used_child_restraint,used_reflective_vest,used_airbag,used_gloves,used_gloves_and_airbag,used_other,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,direction_of_travel_other,vehicle_category_other,fixed_obstacle_struck_other,mobile_obstacle_struck_other,initial_point_of_impact_other,main_maneuver_before_accident_other,motor_type_other,vehicle_category_involved_bicycle,vehicle_category_involved_bus_coach,vehicle_category_involved_hgv_truck,vehicle_category_involved_light_motor_vehicle,vehicle_category_involved_other,vehicle_category_involved_powered_2_3_wheeler
61,7,5,1,2,6,1,3,-21.281617,55.407722,11,0,4,2,2,0,1,1,1,0,1,50,1,1,3,1,0,0,23,0,1,0,0,0,0,0,1,3.0,powered_2_3_wheeler,0.0,0.0,7.0,26.0,1.0,1.0,light_motor_vehicle,0.0,2.0,1.0,26.0,1.0,0,0,0,1,0,1
72,8,5,1,1,1,1,6,43.149532,2.491440,11,0,3,2,2,0,1,2,1,0,1,80,1,1,3,1,0,0,76,0,1,0,0,0,1,0,1,1.0,powered_2_3_wheeler,5.0,2.0,3.0,13.0,1.0,2.0,light_motor_vehicle,0.0,2.0,6.0,1.0,1.0,0,0,0,1,0,1
102,8,5,1,1,3,7,3,44.800202,4.609404,16,30,3,2,2,0,2,3,1,0,1,90,1,1,4,1,0,0,31,0,1,0,0,0,1,0,1,1.0,powered_2_3_wheeler,0.0,2.0,1.0,2.0,1.0,2.0,light_motor_vehicle,0.0,2.0,3.0,15.0,1.0,0,0,0,1,0,1
103,5,5,1,2,1,1,6,46.307338,-0.998664,12,15,4,2,2,0,1,1,1,0,4,50,1,1,1,1,0,0,17,0,0,0,0,0,0,0,1,0.0,bicycle,0.0,1.0,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0
140,8,5,1,1,1,1,7,45.368263,5.686154,18,30,3,2,2,0,1,1,1,0,8,80,1,1,3,1,0,0,43,0,1,0,0,0,1,0,1,1.0,powered_2_3_wheeler,14.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125412,6,6,2,1,1,1,7,46.134099,6.102809,6,15,1,1,2,0,2,2,1,3,1,50,1,1,3,1,0,0,24,0,1,0,0,0,0,0,1,1.0,powered_2_3_wheeler,0.0,0.0,0.0,17.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,1
125428,5,5,2,2,1,1,7,46.000710,6.121957,7,0,3,2,2,0,1,1,1,0,1,50,1,1,4,1,0,0,50,0,1,0,0,0,0,0,1,2.0,powered_2_3_wheeler,0.0,9.0,0.0,1.0,1.0,2.0,light_motor_vehicle,12.0,0.0,0.0,0.0,0.0,0,0,0,1,0,1
125466,27,10,4,1,1,6,6,48.815988,0.573107,21,30,3,2,2,0,1,1,2,0,1,90,1,1,4,2,0,0,35,0,1,0,0,0,1,0,1,2.0,powered_2_3_wheeler,8.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,1
125482,27,5,1,2,2,1,5,46.176919,4.818431,16,10,3,2,2,0,1,1,1,0,1,50,1,1,4,1,0,0,49,0,1,0,0,0,0,0,1,2.0,powered_2_3_wheeler,0.0,2.0,3.0,23.0,1.0,1.0,powered_2_3_wheeler,0.0,2.0,3.0,13.0,1.0,0,0,0,0,0,3
125483,27,5,1,2,2,1,5,46.176919,4.818431,16,10,3,2,2,0,1,1,1,0,1,50,1,1,1,1,0,0,59,0,1,0,0,0,0,0,1,2.0,powered_2_3_wheeler,0.0,2.0,3.0,23.0,1.0,1.0,powered_2_3_wheeler,0.0,2.0,3.0,13.0,1.0,0,0,0,0,0,3

In [67]:
test.to_csv('data/final_proposal_for_merged_table_23_10_25.csv', index=False)