In [2]:
# Import libaries
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import HTML
from typing import List

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
# Import the data
df_circumstances = pd.read_csv('data/general_circumstances.csv', sep=';')
df_locations = pd.read_csv('data/locations-2023.csv', sep=';')
df_users = pd.read_csv('data/users-2023.csv', sep=';')
df_vehicles = pd.read_csv('data/vehicles-2023.csv', sep=';')

C:\Users\David\AppData\Local\Temp\ipykernel_7496\3031322425.py:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_locations = pd.read_csv('data/locations-2023.csv', sep=';')

In [5]:
# Rename the columns into easier to understand english names
circumstances_column_names = {
    'Num_Acc': 'id_accident',
    'jour': 'day',
    'mois': 'month',
    'an': 'year',
    'hrmn': 'hour_minute',
    'lum': 'lighting_condition',
    'dep': 'department_code',
    'com': 'commune_code',
    'agg': 'location',
    'int': 'intersection',
    'atm': 'weather_condition',
    'col': 'type_of_collision',
    'adr': 'postal_address',
    'lat': 'latitude',
    'long': 'longitude'
}

location_column_names = {
    'Num_Acc': 'id_accident',
    'catr': 'road_category',
    'voie': 'road_number',
    'v1': 'road_number_index',
    'v2': 'road_number_letter',
    'circ': 'traffic_regime',
    'nbv': 'number_of_traffic_lanes',
    'vosp': 'reserved_lane_present',
    'prof': 'longitudinal_profile',
    'pr': 'nearest_reference_marker',
    'pr1': 'nearest_reference_marker_distance',
    'plan': 'horizontal_alignment',
    'lartpc': 'width_central_reservation',
    'larrout': 'carriageway_width',
    'surf': 'pavement_condition',
    'infra': 'infrastructure',
    'situ': 'accident_situation',
    'vma': 'speed_limit'
}

vehicles_column_names = {
    'Num_Acc': 'id_accident',
    'id_vehicule': 'id_vehicle',
    'num_veh': 'number_vehicle',
    'senc': 'direction_of_travel',
    'catv': 'vehicle_category',
    'obs': 'fixed_obstacle_struck',
    'obsm': 'mobile_obstacle_struck',
    'choc': 'initial_point_of_impact',
    'manv': 'main_maneuver_before_accident',
    'motor': 'motor_type',
    'occutc': 'number_occupants_in_public_transport'
}

users_column_names = {
    'Num_Acc': 'id_accident',
    'id_usager': 'id_user',
    'id_vehicule': 'id_vehicle',
    'num_veh': 'number_vehicle',
    'place': 'position',
    'catu': 'user_category',
    'grav': 'injury_severity', # This is the feature we want to predict.
    'sexe': 'sex',
    'an_nais': 'year_of_birth',
    'trajet': 'trip_purpose',
    'secu1': 'safety_equipment_1',
    'secu2': 'safety_equipment_2',
    'secu3': 'safety_equipment_3',
    'locp': 'pedestrian_location',
    'actp': 'pedestrian_action',
    'etatp': 'injured_pedestrian_alone'
}

In [6]:
df_circumstances.rename(columns=circumstances_column_names, inplace=True)
df_locations.rename(columns=location_column_names, inplace=True)
df_vehicles.rename(columns=vehicles_column_names, inplace=True)
df_users.rename(columns=users_column_names, inplace=True)

In [7]:
# Show first 5 elements in dataframes and their columns
df_dict = {
    'circumstances': df_circumstances,
    'locations': df_locations,
    'users': df_users,
    'vehicles': df_vehicles
}
for name, df in df_dict.items():
    print("\n" + name + "\n")
    display(df.head())

circumstances

,id_accident,day,month,year,hour_minute,lighting_condition,department_code,commune_code,location,intersection,weather_condition,type_of_collision,postal_address,latitude,longitude
0,202300000001,7,5,2023,06:00,1,75,75101,2,4,2,7,RUE DE RIVOLI,"48,86638600","2,32347100"
1,202300000002,7,5,2023,05:30,5,94,94080,2,1,3,6,Avenue de Paris,"48,84547782","2,42868146"
2,202300000003,7,5,2023,20:50,1,94,94022,2,3,2,1,Avenue du Général Leclerc,"48,76240000","2,40655000"
3,202300000004,6,5,2023,23:57,5,94,94078,2,1,3,5,Rue de Paris,"48,73248432","2,44687575"
4,202300000005,7,5,2023,00:50,5,94,94068,2,2,3,3,56bis Avenue Raspail,"48,78581000","2,49217000"

locations

,id_accident,road_category,road_number,road_number_index,road_number_letter,traffic_regime,number_of_traffic_lanes,reserved_lane_present,longitudinal_profile,nearest_reference_marker,nearest_reference_marker_distance,horizontal_alignment,width_central_reservation,carriageway_width,pavement_condition,infrastructure,accident_situation,speed_limit
0,202300000001,4,RUE DE RIVOLI,0,NaN,1,2,0,1,-1,-1,1,NaN,-1,2,0,1,30
1,202300000001,4,RUE SAINT FLORENTIN,0,NaN,1,1,0,1,-1,-1,1,NaN,-1,2,0,1,30
2,202300000002,3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1,2,0,1,50
3,202300000003,3,5,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50
4,202300000003,3,87,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50

users

,id_accident,id_user,id_vehicle,number_vehicle,position,user_category,injury_severity,sex,year_of_birth,trip_purpose,safety_equipment_1,safety_equipment_2,safety_equipment_3,pedestrian_location,pedestrian_action,injured_pedestrian_alone
0,202300000001,203 851 184,155 680 557,A01,1,1,4,1,1978.0,5,2,0,-1,-1,-1,-1
1,202300000002,203 851 182,155 680 556,A01,1,1,1,2,1997.0,9,1,0,-1,-1,-1,-1
2,202300000002,203 851 183,155 680 556,A01,10,3,3,1,1997.0,9,0,-1,-1,2,3,1
3,202300000003,203 851 180,155 680 554,B01,1,1,3,1,1987.0,0,2,6,0,0,0,-1
4,202300000003,203 851 181,155 680 555,A01,1,1,1,2,1984.0,0,1,0,0,0,0,-1

vehicles

,id_accident,id_vehicle,number_vehicle,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport
0,202300000001,155 680 557,A01,1,30,0,0,5,1,1,NaN
1,202300000002,155 680 556,A01,2,7,0,1,1,1,1,NaN
2,202300000003,155 680 554,B01,1,2,0,2,1,16,1,NaN
3,202300000003,155 680 555,A01,2,7,0,2,2,15,1,NaN
4,202300000004,155 680 551,B01,1,7,0,2,9,2,4,NaN

In [8]:
df_locations

,id_accident,road_category,road_number,road_number_index,road_number_letter,traffic_regime,number_of_traffic_lanes,reserved_lane_present,longitudinal_profile,nearest_reference_marker,nearest_reference_marker_distance,horizontal_alignment,width_central_reservation,carriageway_width,pavement_condition,infrastructure,accident_situation,speed_limit
0,202300000001,4,RUE DE RIVOLI,0,NaN,1,2,0,1,-1,-1,1,NaN,-1,2,0,1,30
1,202300000001,4,RUE SAINT FLORENTIN,0,NaN,1,1,0,1,-1,-1,1,NaN,-1,2,0,1,30
2,202300000002,3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1,2,0,1,50
3,202300000003,3,5,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50
4,202300000003,3,87,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70855,202300054818,4,LA FONTAINE (RUE JEAN DE),0,NaN,2,2,0,1,-1,0,1,NaN,-1,1,0,1,50
70856,202300054819,4,RN3 (ANCIENNE ROUTE),0,NaN,2,2,0,2,0,0,1,NaN,-1,1,0,1,50
70857,202300054820,4,BAMBOU (CHEMIN DE LA RUELLE),0,NaN,2,2,0,2,0,0,2,NaN,-1,1,0,8,30
70858,202300054821,2,ROUTE NATIONALE 1,0,NaN,-1,2,1,1,4,50,1,NaN,-1,1,0,1,90
70859,202300054822,4,YVES FARGES (BD),0,NaN,2,2,2,1,-1,-1,1,NaN,-1,1,0,5,30

In [527]:
df_users_copy = df_users.copy()

# To understand better what's going on: Explicitly encode the roles for now.
role_map = {1: 'driver', 2: 'passenger', 3:'pedestrian'}
df_users_copy['role'] = df_users_copy['user_category'].map(role_map).fillna('other')
df_users_copy['is_pedestrian'] = (df_users_copy['role'] == 'pedestrian')

# Create a feature for the age of a user
df_users_copy = df_users_copy.merge(df_circumstances[['id_accident', 'year']], on='id_accident', how='left')
df_users_copy['age'] = (df_users_copy['year'] - df_users_copy['year_of_birth']).astype('Int64') # Can be null !!!
df_users_copy = df_users_copy.drop(columns='year')
df_users_copy = df_users_copy.drop(columns='number_vehicle')

df_users_copy

,id_accident,id_user,id_vehicle,position,user_category,injury_severity,sex,year_of_birth,trip_purpose,safety_equipment_1,safety_equipment_2,safety_equipment_3,pedestrian_location,pedestrian_action,injured_pedestrian_alone,role,is_pedestrian,age
0,202300000001,203 851 184,155 680 557,1,1,4,1,1978.0,5,2,0,-1,-1,-1,-1,driver,False,45
1,202300000002,203 851 182,155 680 556,1,1,1,2,1997.0,9,1,0,-1,-1,-1,-1,driver,False,26
2,202300000002,203 851 183,155 680 556,10,3,3,1,1997.0,9,0,-1,-1,2,3,1,pedestrian,True,26
3,202300000003,203 851 180,155 680 554,1,1,3,1,1987.0,0,2,6,0,0,0,-1,driver,False,36
4,202300000003,203 851 181,155 680 555,1,1,1,2,1984.0,0,1,0,0,0,0,-1,driver,False,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,203 720 720,155 583 346,1,1,4,1,1971.0,1,2,0,-1,0,0,-1,driver,False,52
125785,202300054821,203 720 721,155 583 347,1,1,1,2,1968.0,1,1,0,-1,0,0,-1,driver,False,55
125786,202300054822,203 720 717,155 583 344,2,2,1,2,2003.0,2,1,-1,-1,-1,-1,-1,passenger,False,20
125787,202300054822,203 720 718,155 583 344,1,1,1,2,2002.0,1,1,-1,-1,-1,-1,-1,driver,False,21
125788,202300054822,203 720 719,155 583 345,1,1,3,2,1995.0,1,2,-1,-1,-1,-1,-1,driver,False,28

In [528]:
# df_users_copy['has_associated_vehicle'] = df_users_copy['id_vehicle'].notna()

# Encode vehicle attributes for drivers and passengers who drive within them and passengers who are hit by them in different features to avoid classifiers becomming confused from the perspective shift.

# vehicle_categories = ['direction_of_travel', 'vehicle_category', 'fixed_obstacle_struck', 'mobile_obstacle_struck', 'initial_point_of_impact', 'main_maneuver_before_accident', 'motor_type']

# for c in vehicle_categories:
#     occupant_column = f"{c}_occ"
#     pedestrian_column = f"{c}_ped"
#     # keep codes as strings; include explicit sentinels to preserve meaning & missingness
#     df_users_copy[occupant_column] = np.where(~df_users_copy["is_pedestrian"], df_users_copy[c].astype("Int64").astype("string"), "NA_occ")
#     df_users_copy[pedestrian_column] = np.where(["is_ped"], df_users_copy[c].astype("Int64").astype("string"), "NA_ped")

# df_users_copy["number_occupants_in_public_transport_occ"] = pd.Series(np.where(
#     ~df_users_copy["is_pedestrian"], df_users_copy["number_occupants_in_public_transport"], None
# )).astype('Int64')

# # Drop the raw ambiguous vehicle columns now that role-aware copies exist
# drop_ambiguous = [c for c in vehicle_categories if c not in ["id_accident","id_vehicle"]]
# df_users_copy = df_users_copy.drop(columns=[c for c in drop_ambiguous if c in df_users_copy.columns])

In [529]:
# Join the user's associated vehicle (drivers=ridden/driven; pedestrians=striken by the vehicle)
df_vehicles_copy = df_vehicles.copy()

display(df_vehicles_copy)

def simplify_catv_6(x):
    if pd.isna(x):                 return pd.NA
    if x in {1,80}:                return "bicycle"
    if x in {2,30,41,31,32,33,34,42,43}:  return "powered_2_3_wheeler"
    if x in {7,10}:                return "light_motor_vehicle"        # car + van
    if x in {13,14,15,16,17}:      return "hgv_truck"
    if x in {37,38}:               return "bus_coach"
    # everything else: rail, quads/microcars, agri/special, PMDs, 99/00…
    return "other"

#df_vehicles_copy["vehicle_category"] = df_vehicles_copy['vehicle_category'].map(simplify_catv_6)

,id_accident,id_vehicle,number_vehicle,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport
0,202300000001,155 680 557,A01,1,30,0,0,5,1,1,NaN
1,202300000002,155 680 556,A01,2,7,0,1,1,1,1,NaN
2,202300000003,155 680 554,B01,1,2,0,2,1,16,1,NaN
3,202300000003,155 680 555,A01,2,7,0,2,2,15,1,NaN
4,202300000004,155 680 551,B01,1,7,0,2,9,2,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...
93580,202300054820,155 583 348,A01,3,7,0,9,4,26,1,NaN
93581,202300054821,155 583 346,A01,1,30,0,2,3,9,1,NaN
93582,202300054821,155 583 347,B01,1,7,0,2,2,9,1,NaN
93583,202300054822,155 583 344,A01,2,7,0,2,7,22,1,NaN
93584,202300054822,155 583 345,B01,2,50,14,2,1,1,3,NaN

In [530]:
# df_vehicles_copy

# # Every user should have a vehicle associated with them somehow 
# df_users_copy = df_users_copy.merge(df_vehicles_copy, on=['id_accident', 'id_vehicle'], how='left')
# df_users_copy

In [531]:
NA_CODES = {
    # vehicles table fields where -1 means "not recorded"
    "vehicle_category": {-1}, "main_maneuver_before_accident": {-1},
    "initial_point_of_impact": {-1}, "fixed_obstacle_struck": {-1},
    "mobile_obstacle_struck": {-1}, "motor_type": {-1}, "direction_of_travel": {-1},
    "number_occupants_in_public_transport": {-1},
}
def apply_na_codes(df, na_codes=NA_CODES):
    df = df.copy()
    for col, codes in na_codes.items():
        if col in df.columns:
            df[col] = df[col].where(~df[col].isin(codes))
    return df

def _to_int_or_nan(x):
    try: return int(x)
    except Exception: return np.nan

# category weights for "biggest impact" (tune if you like)
CAT6_WEIGHT = {
    "rail_vehicle": 7,         # not in 6-bucket; rolled into "other" above if present
    "hgv_truck": 6,
    "bus_coach": 5,
    "light_motor_vehicle": 4,
    "powered_2_3_wheeler": 3,
    "bicycle": 2,
    "other": 1,
    "unknown": 1,
}

# -------------------- vehicles: sanitize + score --------------------
V = apply_na_codes(df_vehicles_copy)

V["vehicle_category"] = V["vehicle_category"].apply(simplify_catv_6)
V["impact_score"] = V["vehicle_category"].map(CAT6_WEIGHT).fillna(1)

V.sort_values(by=['id_accident', 'impact_score'], ascending=[True, False])


one_entry = V.groupby('id_accident').filter(lambda x: len(x) == 1)

for x in one_entry.columns:
    one_entry[f'{x}_other'] = pd.NA
one_entry = one_entry.drop(columns='id_accident_other')
display(one_entry)

V = (
    V.merge(V, on='id_accident', how='left', suffixes=['', '_other'])
        .query('id_vehicle != id_vehicle_other')
)

V = V.sort_values(by=['id_accident', 'id_vehicle', 'impact_score_other']).drop_duplicates(subset=['id_accident', 'id_vehicle'], keep='last')

df_vehicles_copy = pd.concat([one_entry, V]).sort_index()
display(df_vehicles_copy)

,id_accident,id_vehicle,number_vehicle,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport,impact_score,id_vehicle_other,number_vehicle_other,direction_of_travel_other,vehicle_category_other,fixed_obstacle_struck_other,mobile_obstacle_struck_other,initial_point_of_impact_other,main_maneuver_before_accident_other,motor_type_other,number_occupants_in_public_transport_other,impact_score_other
0,202300000001,155 680 557,A01,1.0,powered_2_3_wheeler,0.0,0.0,5.0,1.0,1.0,NaN,3.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,202300000002,155 680 556,A01,2.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9,202300000006,155 680 548,A01,1.0,light_motor_vehicle,0.0,1.0,3.0,15.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
17,202300000010,155 680 540,B01,1.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
24,202300000014,155 680 533,A01,2.0,light_motor_vehicle,4.0,0.0,3.0,1.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93572,202300054814,155 583 356,B01,1.0,light_motor_vehicle,1.0,1.0,2.0,14.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
93573,202300054815,155 583 355,A01,0.0,powered_2_3_wheeler,0.0,9.0,1.0,0.0,1.0,NaN,3.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
93576,202300054817,155 583 352,A01,1.0,light_motor_vehicle,0.0,1.0,2.0,1.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
93577,202300054818,155 583 351,A01,1.0,light_motor_vehicle,1.0,0.0,8.0,0.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
93580,202300054820,155 583 348,A01,3.0,light_motor_vehicle,0.0,9.0,4.0,26.0,1.0,NaN,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

C:\Users\David\AppData\Local\Temp\ipykernel_19420\2768055648.py:54: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_vehicles_copy = pd.concat([one_entry, V]).sort_index()

,id_accident,id_vehicle,number_vehicle,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport,impact_score,id_vehicle_other,number_vehicle_other,direction_of_travel_other,vehicle_category_other,fixed_obstacle_struck_other,mobile_obstacle_struck_other,initial_point_of_impact_other,main_maneuver_before_accident_other,motor_type_other,number_occupants_in_public_transport_other,impact_score_other
0,202300000001,155 680 557,A01,1.0,powered_2_3_wheeler,0.0,0.0,5.0,1.0,1.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202300000002,155 680 556,A01,2.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,202300000003,155 680 554,B01,1.0,powered_2_3_wheeler,0.0,2.0,1.0,16.0,1.0,NaN,3.0,155 680 555,A01,2.0,light_motor_vehicle,0.0,2.0,2.0,15.0,1.0,NaN,4.0
4,202300000003,155 680 555,A01,2.0,light_motor_vehicle,0.0,2.0,2.0,15.0,1.0,NaN,4.0,155 680 554,B01,1.0,powered_2_3_wheeler,0.0,2.0,1.0,16.0,1.0,NaN,3.0
8,202300000004,155 680 551,B01,1.0,light_motor_vehicle,0.0,2.0,9.0,2.0,4.0,NaN,4.0,155 680 553,A01,1.0,light_motor_vehicle,0.0,2.0,1.0,2.0,1.0,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183406,202300054819,155 583 350,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,17.0,1.0,NaN,4.0,155 583 349,A01,1.0,powered_2_3_wheeler,0.0,2.0,8.0,21.0,1.0,NaN,3.0
183410,202300054821,155 583 346,A01,1.0,powered_2_3_wheeler,0.0,2.0,3.0,9.0,1.0,NaN,3.0,155 583 347,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,9.0,1.0,NaN,4.0
183411,202300054821,155 583 347,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,9.0,1.0,NaN,4.0,155 583 346,A01,1.0,powered_2_3_wheeler,0.0,2.0,3.0,9.0,1.0,NaN,3.0
183414,202300054822,155 583 344,A01,2.0,light_motor_vehicle,0.0,2.0,7.0,22.0,1.0,NaN,4.0,155 583 345,B01,2.0,other,14.0,2.0,1.0,1.0,3.0,NaN,1.0
183415,202300054822,155 583 345,B01,2.0,other,14.0,2.0,1.0,1.0,3.0,NaN,1.0,155 583 344,A01,2.0,light_motor_vehicle,0.0,2.0,7.0,22.0,1.0,NaN,4.0

In [532]:
g = df_vehicles_copy[['id_accident', 'vehicle_category']].copy()
tmp = pd.get_dummies(g, columns=['vehicle_category'], prefix='vehicle_category')
vehicle_categories_involved = tmp.groupby('id_accident').sum()
vehicle_categories_involved

,vehicle_category_bicycle,vehicle_category_bus_coach,vehicle_category_hgv_truck,vehicle_category_light_motor_vehicle,vehicle_category_other,vehicle_category_powered_2_3_wheeler
id_accident,,,,,,
202300000001,0,0,0,0,0,1
202300000002,0,0,0,1,0,0
202300000003,0,0,0,1,0,1
202300000004,0,0,0,3,0,0
202300000005,0,0,0,2,0,0
...,...,...,...,...,...,...
202300054818,0,0,0,1,0,0
202300054819,0,0,0,1,0,1
202300054820,0,0,0,1,0,0
202300054821,0,0,0,1,0,1
202300054822,0,0,0,1,1,0

In [533]:
# AI Generated and manually checked (yes, really)
# Columns we care about for completeness scoring
LOC_SCORE_COLS = [
    "road_category","road_number","road_number_index","road_number_letter",
    "traffic_regime","number_of_traffic_lanes","reserved_lane_present",
    "longitudinal_profile","nearest_reference_marker","nearest_reference_marker_distance",
    "horizontal_alignment","width_central_reservation","carriageway_width",
    "pavement_condition","infrastructure","accident_situation","speed_limit"
]

# Optional weights: make "road_category" and "speed_limit" slightly more decisive
LOC_WEIGHTS = {
    "road_category": 2.0,
    "speed_limit": 2.0,
    # everything else defaults to 1.0
}

def _completeness_score(df: pd.DataFrame) -> pd.Series:
    present = ((df[LOC_SCORE_COLS].notna()) & (df[LOC_SCORE_COLS] != -1))
    for c, w in LOC_WEIGHTS.items():
        if c in present.columns:
            present[c] = present[c] * w
    return present.sum(axis=1)

def _major_road_rank(series: pd.Series) -> pd.Series:
    """
    Prefer major roads at intersections.
    BAAC catr: 1=Motorway, 2=National, 3=Departmental, 4=Communal, 5/6/7/9=others. 
    Lower is 'more major', so sort by this ascending; unknown gets worst rank.
    """
    s = pd.to_numeric(series, errors="coerce")
    return s.fillna(99)

def select_best_location_rows(location: pd.DataFrame) -> pd.DataFrame:
    L = location.copy()
    #
    # 
    # P = postal_address.copy()
    #L.merge(P, left_on=['id_accident', 'road_number'], right_on=['accident_id', 'postal_address'], how='left')['postal_address'].notna()

    # score completeness
    L["__score"] = _completeness_score(L)
    # tie-breakers:
    # 1) higher completeness score
    # 2) has speed_limit
    # 3) has PR/PR1 (reference marker)
    # 4) more major road_category (1 < 2 < 3 < 4 < 5/6/7/9)
    # 5) lower index as final deterministic tie-break
    L["__has_vma"] = L["speed_limit"].notna().astype(int)
    L["__has_pr"]  = L["nearest_reference_marker"].notna().astype(int) | L["nearest_reference_marker_distance"].notna().astype(int)
    L["__road_rank"] = -_major_road_rank(L["road_category"])  # negative so higher is better in sort

    L = (L
         .sort_values(["id_accident","__score","__has_vma","__has_pr","__road_rank"])
         .drop_duplicates("id_accident", keep="last")  # keep the best per accident
         .drop(columns=["__score","__has_vma","__has_pr","__road_rank"])
        )
    return L

# Example usage:
# location_best = select_best_location_rows(location)
# ACC = circumstances.merge(location_best, on="id_accident", how="left")

In [534]:
selected_locations = select_best_location_rows(df_locations)
selected_locations

,id_accident,road_category,road_number,road_number_index,road_number_letter,traffic_regime,number_of_traffic_lanes,reserved_lane_present,longitudinal_profile,nearest_reference_marker,nearest_reference_marker_distance,horizontal_alignment,width_central_reservation,carriageway_width,pavement_condition,infrastructure,accident_situation,speed_limit
1,202300000001,4,RUE SAINT FLORENTIN,0,NaN,1,1,0,1,-1,-1,1,NaN,-1,2,0,1,30
2,202300000002,3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1,2,0,1,50
4,202300000003,3,87,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50
5,202300000004,2,6,0,NaN,2,4,0,1,18,1,1,NaN,12,2,0,1,50
7,202300000005,4,NaN,0,NaN,2,2,0,1,-1,-1,1,NaN,-1,2,0,1,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70855,202300054818,4,LA FONTAINE (RUE JEAN DE),0,NaN,2,2,0,1,-1,0,1,NaN,-1,1,0,1,50
70856,202300054819,4,RN3 (ANCIENNE ROUTE),0,NaN,2,2,0,2,0,0,1,NaN,-1,1,0,1,50
70857,202300054820,4,BAMBOU (CHEMIN DE LA RUELLE),0,NaN,2,2,0,2,0,0,2,NaN,-1,1,0,8,30
70858,202300054821,2,ROUTE NATIONALE 1,0,NaN,-1,2,1,1,4,50,1,NaN,-1,1,0,1,90
70859,202300054822,4,YVES FARGES (BD),0,NaN,2,2,2,1,-1,-1,1,NaN,-1,1,0,5,30

In [535]:
vehicle_features = ['id_vehicle', 'number_vehicle', 'direction_of_travel', 'vehicle_category', 'fixed_obstacle_struck', 'mobile_obstacle_struck', 'initial_point_of_impact', 'main_maneuver_before_accident', 'motor_type', 'number_occupants_in_public_transport', 'impact_score']
vehicle_other = [f'{x}_other' for x in vehicle_features]

display(df_users_copy)
display(df_vehicles_copy)


df_user_vehicle = df_users_copy.merge(df_vehicles_copy, on=['id_accident', 'id_vehicle'], how='left')

mask = df_user_vehicle['is_pedestrian']

df_user_vehicle.loc[mask, vehicle_other] = df_user_vehicle.loc[mask, vehicle_features].to_numpy()
# 2) clear the original vehicle columns for pedestrians
df_user_vehicle.loc[mask, vehicle_features] = pd.NA

display(df_user_vehicle[df_user_vehicle['is_pedestrian']])

,id_accident,id_user,id_vehicle,position,user_category,injury_severity,sex,year_of_birth,trip_purpose,safety_equipment_1,safety_equipment_2,safety_equipment_3,pedestrian_location,pedestrian_action,injured_pedestrian_alone,role,is_pedestrian,age
0,202300000001,203 851 184,155 680 557,1,1,4,1,1978.0,5,2,0,-1,-1,-1,-1,driver,False,45
1,202300000002,203 851 182,155 680 556,1,1,1,2,1997.0,9,1,0,-1,-1,-1,-1,driver,False,26
2,202300000002,203 851 183,155 680 556,10,3,3,1,1997.0,9,0,-1,-1,2,3,1,pedestrian,True,26
3,202300000003,203 851 180,155 680 554,1,1,3,1,1987.0,0,2,6,0,0,0,-1,driver,False,36
4,202300000003,203 851 181,155 680 555,1,1,1,2,1984.0,0,1,0,0,0,0,-1,driver,False,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,203 720 720,155 583 346,1,1,4,1,1971.0,1,2,0,-1,0,0,-1,driver,False,52
125785,202300054821,203 720 721,155 583 347,1,1,1,2,1968.0,1,1,0,-1,0,0,-1,driver,False,55
125786,202300054822,203 720 717,155 583 344,2,2,1,2,2003.0,2,1,-1,-1,-1,-1,-1,passenger,False,20
125787,202300054822,203 720 718,155 583 344,1,1,1,2,2002.0,1,1,-1,-1,-1,-1,-1,driver,False,21
125788,202300054822,203 720 719,155 583 345,1,1,3,2,1995.0,1,2,-1,-1,-1,-1,-1,driver,False,28

,id_accident,id_vehicle,number_vehicle,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport,impact_score,id_vehicle_other,number_vehicle_other,direction_of_travel_other,vehicle_category_other,fixed_obstacle_struck_other,mobile_obstacle_struck_other,initial_point_of_impact_other,main_maneuver_before_accident_other,motor_type_other,number_occupants_in_public_transport_other,impact_score_other
0,202300000001,155 680 557,A01,1.0,powered_2_3_wheeler,0.0,0.0,5.0,1.0,1.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202300000002,155 680 556,A01,2.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,202300000003,155 680 554,B01,1.0,powered_2_3_wheeler,0.0,2.0,1.0,16.0,1.0,NaN,3.0,155 680 555,A01,2.0,light_motor_vehicle,0.0,2.0,2.0,15.0,1.0,NaN,4.0
4,202300000003,155 680 555,A01,2.0,light_motor_vehicle,0.0,2.0,2.0,15.0,1.0,NaN,4.0,155 680 554,B01,1.0,powered_2_3_wheeler,0.0,2.0,1.0,16.0,1.0,NaN,3.0
8,202300000004,155 680 551,B01,1.0,light_motor_vehicle,0.0,2.0,9.0,2.0,4.0,NaN,4.0,155 680 553,A01,1.0,light_motor_vehicle,0.0,2.0,1.0,2.0,1.0,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183406,202300054819,155 583 350,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,17.0,1.0,NaN,4.0,155 583 349,A01,1.0,powered_2_3_wheeler,0.0,2.0,8.0,21.0,1.0,NaN,3.0
183410,202300054821,155 583 346,A01,1.0,powered_2_3_wheeler,0.0,2.0,3.0,9.0,1.0,NaN,3.0,155 583 347,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,9.0,1.0,NaN,4.0
183411,202300054821,155 583 347,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,9.0,1.0,NaN,4.0,155 583 346,A01,1.0,powered_2_3_wheeler,0.0,2.0,3.0,9.0,1.0,NaN,3.0
183414,202300054822,155 583 344,A01,2.0,light_motor_vehicle,0.0,2.0,7.0,22.0,1.0,NaN,4.0,155 583 345,B01,2.0,other,14.0,2.0,1.0,1.0,3.0,NaN,1.0
183415,202300054822,155 583 345,B01,2.0,other,14.0,2.0,1.0,1.0,3.0,NaN,1.0,155 583 344,A01,2.0,light_motor_vehicle,0.0,2.0,7.0,22.0,1.0,NaN,4.0

,id_accident,id_user,id_vehicle,position,user_category,injury_severity,sex,year_of_birth,trip_purpose,safety_equipment_1,safety_equipment_2,safety_equipment_3,pedestrian_location,pedestrian_action,injured_pedestrian_alone,role,is_pedestrian,age,number_vehicle,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport,impact_score,id_vehicle_other,number_vehicle_other,direction_of_travel_other,vehicle_category_other,fixed_obstacle_struck_other,mobile_obstacle_struck_other,initial_point_of_impact_other,main_maneuver_before_accident_other,motor_type_other,number_occupants_in_public_transport_other,impact_score_other
2,202300000002,203 851 183,<NA>,10,3,3,1,1997.0,9,0,-1,-1,2,3,1,pedestrian,True,26,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155 680 556,A01,2.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN,4.0
12,202300000006,203 851 171,<NA>,10,3,4,1,2003.0,9,0,-1,-1,3,3,1,pedestrian,True,20,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155 680 548,A01,1.0,light_motor_vehicle,0.0,1.0,3.0,15.0,1.0,NaN,4.0
24,202300000010,203 851 161,<NA>,10,3,4,1,1953.0,5,0,-1,-1,2,3,2,pedestrian,True,70,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155 680 540,B01,1.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN,4.0
104,202300000042,203 851 081,<NA>,10,3,3,2,1932.0,5,0,-1,-1,3,1,1,pedestrian,True,91,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155 680 487,A01,0.0,bicycle,0.0,1.0,1.0,2.0,5.0,NaN,2.0
126,202300000053,203 851 056,<NA>,10,3,3,2,2016.0,5,0,-1,-1,1,3,1,pedestrian,True,7,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155 680 465,A01,3.0,light_motor_vehicle,0.0,1.0,3.0,1.0,1.0,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125736,202300054796,203 720 772,<NA>,10,3,2,1,1973.0,9,0,-1,-1,1,3,1,pedestrian,True,50,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155 583 387,A01,2.0,light_motor_vehicle,0.0,1.0,3.0,11.0,1.0,NaN,4.0
125765,202300054811,203 720 739,<NA>,10,3,3,2,2005.0,5,8,8,-1,4,3,1,pedestrian,True,18,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155 583 360,Z01,2.0,light_motor_vehicle,0.0,1.0,1.0,2.0,0.0,NaN,4.0
125771,202300054814,203 720 735,<NA>,10,3,3,1,1985.0,3,0,-1,-1,1,A,1,pedestrian,True,38,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155 583 356,B01,1.0,light_motor_vehicle,1.0,1.0,2.0,14.0,1.0,NaN,4.0
125777,202300054817,203 720 729,<NA>,10,3,4,1,1988.0,1,0,0,0,3,4,1,pedestrian,True,35,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155 583 352,A01,1.0,light_motor_vehicle,0.0,1.0,2.0,1.0,1.0,NaN,4.0
125779,202300054818,203 720 727,<NA>,10,3,4,2,2019.0,0,0,-1,-1,9,3,1,pedestrian,True,4,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155 583 351,A01,1.0,light_motor_vehicle,1.0,0.0,8.0,0.0,1.0,NaN,4.0

In [536]:
# display(df_circumstances)
# display(selected_locations)
# display(df_user_vehicle)
# display(vehicle_categories_involved)

final_table = (
    df_circumstances
    .copy()
    .merge(selected_locations, on='id_accident', how='left')
    .merge(df_user_vehicle, on='id_accident', how='left')
    .merge(vehicle_categories_involved, on='id_accident', how='left')
)

display(final_table)

,id_accident,day,month,year,hour_minute,lighting_condition,department_code,commune_code,location,intersection,weather_condition,type_of_collision,postal_address,latitude,longitude,road_category,road_number,road_number_index,road_number_letter,traffic_regime,number_of_traffic_lanes,reserved_lane_present,longitudinal_profile,nearest_reference_marker,nearest_reference_marker_distance,horizontal_alignment,width_central_reservation,carriageway_width,pavement_condition,infrastructure,accident_situation,speed_limit,id_user,id_vehicle,position,user_category,injury_severity,sex,year_of_birth,trip_purpose,safety_equipment_1,safety_equipment_2,safety_equipment_3,pedestrian_location,pedestrian_action,injured_pedestrian_alone,role,is_pedestrian,age,number_vehicle,direction_of_travel,vehicle_category,fixed_obstacle_struck,mobile_obstacle_struck,initial_point_of_impact,main_maneuver_before_accident,motor_type,number_occupants_in_public_transport,impact_score,id_vehicle_other,number_vehicle_other,direction_of_travel_other,vehicle_category_other_x,fixed_obstacle_struck_other,mobile_obstacle_struck_other,initial_point_of_impact_other,main_maneuver_before_accident_other,motor_type_other,number_occupants_in_public_transport_other,impact_score_other,vehicle_category_bicycle,vehicle_category_bus_coach,vehicle_category_hgv_truck,vehicle_category_light_motor_vehicle,vehicle_category_other_y,vehicle_category_powered_2_3_wheeler
0,202300000001,7,5,2023,06:00,1,75,75101,2,4,2,7,RUE DE RIVOLI,"48,86638600","2,32347100",4,RUE SAINT FLORENTIN,0,NaN,1,1,0,1,-1,-1,1,NaN,-1,2,0,1,30,203 851 184,155 680 557,1,1,4,1,1978.0,5,2,0,-1,-1,-1,-1,driver,False,45,A01,1.0,powered_2_3_wheeler,0.0,0.0,5.0,1.0,1.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,1
1,202300000002,7,5,2023,05:30,5,94,94080,2,1,3,6,Avenue de Paris,"48,84547782","2,42868146",3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1,2,0,1,50,203 851 182,155 680 556,1,1,1,2,1997.0,9,1,0,-1,-1,-1,-1,driver,False,26,A01,2.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0,0
2,202300000002,7,5,2023,05:30,5,94,94080,2,1,3,6,Avenue de Paris,"48,84547782","2,42868146",3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1,2,0,1,50,203 851 183,<NA>,10,3,3,1,1997.0,9,0,-1,-1,2,3,1,pedestrian,True,26,<NA>,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155 680 556,A01,2.0,light_motor_vehicle,0.0,1.0,1.0,1.0,1.0,NaN,4.0,0,0,0,1,0,0
3,202300000003,7,5,2023,20:50,1,94,94022,2,3,2,1,Avenue du Général Leclerc,"48,76240000","2,40655000",3,87,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50,203 851 180,155 680 554,1,1,3,1,1987.0,0,2,6,0,0,0,-1,driver,False,36,B01,1.0,powered_2_3_wheeler,0.0,2.0,1.0,16.0,1.0,NaN,3.0,155 680 555,A01,2.0,light_motor_vehicle,0.0,2.0,2.0,15.0,1.0,NaN,4.0,0,0,0,1,0,1
4,202300000003,7,5,2023,20:50,1,94,94022,2,3,2,1,Avenue du Général Leclerc,"48,76240000","2,40655000",3,87,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50,203 851 181,155 680 555,1,1,1,2,1984.0,0,1,0,0,0,0,-1,driver,False,39,A01,2.0,light_motor_vehicle,0.0,2.0,2.0,15.0,1.0,NaN,4.0,155 680 554,B01,1.0,powered_2_3_wheeler,0.0,2.0,1.0,16.0,1.0,NaN,3.0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,26,10,2023,17:20,1,973,97302,1,6,1,3,ROUTE NATIONALE 1,"4,89713000","-52,32854000",2,ROUTE NATIONALE 1,0,NaN,-1,2,1,1,4,50,1,NaN,-1,1,0,1,90,203 720 720,155 583 346,1,1,4,1,1971.0,1,2,0,-1,0,0,-1,driver,False,52,A01,1.0,powered_2_3_wheeler,0.0,2.0,3.0,9.0,1.0,NaN,3.0,155 583 347,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,9.0,1.0,NaN,4.0,0,0,0,1,0,1
125785,202300054821,26,10,2023,17:20,1,973,97302,1,6,1,3,ROUTE NATIONALE 1,"4,89713000","-52,32854000",2,ROUTE NATIONALE 1,0,NaN,-1,2,1,1,4,50,1,NaN,-1,1,0,1,90,203 720 721,155 583 347,1,1,1,2,1968.0,1,1,0,-1,0,0,-1,driver,False,55,B01,1.0,light_motor_vehicle,0.0,2.0,2.0,9.0,1.0,NaN,4.0,155 583 346,A01,1.0,powered_2_3_wheeler,0.0,2.0,3.0,9.0,1.0,NaN,3.0,0,0,0,1,0,1
125786,202300054822,20,10,2023,16:30,1,69,69387,2,1,6,3,Boulevard Yves Farge,"45,73306000","4,82540000",4,YVES FARGES (BD),0,NaN,2,2,2,1,-1,-1,1,NaN,-1,1,0,5,30,203 720 717,155 583 344,2,2,1,2,2003.0,2,1,-1,-1,-1,-1,-1,passenger,False,20,A01,2.0,light_motor_vehicle,0.0,2.0,7.0,22.0,1.0,NaN,4.0,155 583 345,B01,2.0,other,14.0,2.0,1.0,1.0,3.0,NaN,1.0,0,0,0,1,1,0
125787,202300054822,20,10,2023,16:30,1,69,69387,2,1,6,3,Boulevard Yves Farge,"45,73306000","4,82540000",4,YVES FARGES (BD),0,NaN,2,2,2,1,-1,-1,1,NaN,-1,1,0,5,30,203 720 718,155 583 344,1,1,1,2,2002.0,1,1,-1,-1,-1,-1,-1,driver,False,21,A01,2.0,light_motor_vehicle,0.0,2.0,7.0,22.0,1.0,NaN,4.0,155 583 345,B01,2.0,other,14.0,2.0,1.0,1.0,3.0,NaN,1.0,0,0,0,1,1,0
125788,202300054822,20,10,2023,16:30,1,69,69387,2,1,6,3,Boulevard Yves Farge,"45,73306000","4,82540000",4,YVES FARGES (BD),0,NaN,2,2,2,1,-1,-1,1,NaN,-1,1,0,5,30,203 720 719,155 583 345,1,1,3,2,1995.0,1,2,-1,-1,-1,-1,-1,driver,False,28,B01,2.0,other,14.0,2.0,1.0,1.0,3.0,NaN,1.0,155 583 344,A01,2.0,light_motor_vehicle,0.0,2.0,7.0,22.0,1.0,NaN,4.0,0,0,0,1,1,0

In [537]:
final_table.to_csv('data/final_table_proposal.csv', sep=';')